/*
xAI's REST API

REST API for xAI compatible with other providers.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package xai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


type V1API interface {

	/*
	HandleCompactRequest Compacts a full Responses API input window into a shorter canonical window.

	The client sends its current input (the same items that would be passed
to `POST /v1/responses`) and receives a compacted output window.
The output should be used **verbatim** as the `input` of the next
`/v1/responses` call (appending only the new user turn).

This generalizes the compaction approach used by the coding-agent
harness (`generate_session_compact` in xai-grok-shell):

1. Strip tool-result noise from the history.
2. Ask the model to produce a structured `<summary>` of the conversation.
3. Rebuild a compact window:  system message → summary → last user query.
4. Return that window to the client.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleCompactRequestRequest
	*/
	HandleCompactRequest(ctx context.Context) ApiHandleCompactRequestRequest

	// HandleCompactRequestExecute executes the request
	//  @return CompactResponse
	HandleCompactRequestExecute(r ApiHandleCompactRequestRequest) (*CompactResponse, *http.Response, error)

	/*
	HandleCreatePublicUrlRequest Create a permanent, unauthenticated public URL for an existing file. The underlying file is unaffected and can still be fetched through the authenticated content endpoint. Use this when you want to share a stored asset (image, video, PDF) outside your API-keyed environment. Public URLs can be revoked at any time via `POST /v1/files/{file_id}/public-url/revoke`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param fileId The file's `id`.
	@return ApiHandleCreatePublicUrlRequestRequest
	*/
	HandleCreatePublicUrlRequest(ctx context.Context, fileId string) ApiHandleCreatePublicUrlRequestRequest

	// HandleCreatePublicUrlRequestExecute executes the request
	//  @return CreatePublicUrlResponse
	HandleCreatePublicUrlRequestExecute(r ApiHandleCreatePublicUrlRequestRequest) (*CreatePublicUrlResponse, *http.Response, error)

	/*
	HandleDeleteFileRequest Delete a file by ID. After this returns, the file no longer appears in `GET /v1/files`, content download returns 404, and the ID can no longer be referenced in chat attachments.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param fileId The file's `id` to delete.
	@return ApiHandleDeleteFileRequestRequest
	*/
	HandleDeleteFileRequest(ctx context.Context, fileId string) ApiHandleDeleteFileRequestRequest

	// HandleDeleteFileRequestExecute executes the request
	//  @return DeleteFileResponse
	HandleDeleteFileRequestExecute(r ApiHandleDeleteFileRequestRequest) (*DeleteFileResponse, *http.Response, error)

	/*
	HandleDeleteSkillRequest Method for HandleDeleteSkillRequest

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param skillId The skill ID.
	@return ApiHandleDeleteSkillRequestRequest
	*/
	HandleDeleteSkillRequest(ctx context.Context, skillId string) ApiHandleDeleteSkillRequestRequest

	// HandleDeleteSkillRequestExecute executes the request
	//  @return DeletedSkill
	HandleDeleteSkillRequestExecute(r ApiHandleDeleteSkillRequestRequest) (*DeletedSkill, *http.Response, error)

	/*
	HandleDeleteStoredCompletionRequest Delete a previously generated response.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param responseId The response id returned by a previous create response request.
	@return ApiHandleDeleteStoredCompletionRequestRequest
	*/
	HandleDeleteStoredCompletionRequest(ctx context.Context, responseId string) ApiHandleDeleteStoredCompletionRequestRequest

	// HandleDeleteStoredCompletionRequestExecute executes the request
	//  @return DeleteStoredCompletionResponse
	HandleDeleteStoredCompletionRequestExecute(r ApiHandleDeleteStoredCompletionRequestRequest) (*DeleteStoredCompletionResponse, *http.Response, error)

	/*
	HandleDocumentSearchRequestV2 Search for content related to the query within the given collections.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleDocumentSearchRequestV2Request
	*/
	HandleDocumentSearchRequestV2(ctx context.Context) ApiHandleDocumentSearchRequestV2Request

	// HandleDocumentSearchRequestV2Execute executes the request
	//  @return SearchResponse
	HandleDocumentSearchRequestV2Execute(r ApiHandleDocumentSearchRequestV2Request) (*SearchResponse, *http.Response, error)

	/*
	HandleDownloadFileContentRequest Download the contents of a file as a stream of raw bytes. The response `Content-Type` is `application/octet-stream`. Use this for the binary payload; use `GET /v1/files/{file_id}` for metadata only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param fileId The file's `id` to download.
	@return ApiHandleDownloadFileContentRequestRequest
	*/
	HandleDownloadFileContentRequest(ctx context.Context, fileId string) ApiHandleDownloadFileContentRequestRequest

	// HandleDownloadFileContentRequestExecute executes the request
	//  @return string
	HandleDownloadFileContentRequestExecute(r ApiHandleDownloadFileContentRequestRequest) (string, *http.Response, error)

	/*
	HandleDownloadSkillContentRequest Method for HandleDownloadSkillContentRequest

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param skillId The skill ID.
	@return ApiHandleDownloadSkillContentRequestRequest
	*/
	HandleDownloadSkillContentRequest(ctx context.Context, skillId string) ApiHandleDownloadSkillContentRequestRequest

	// HandleDownloadSkillContentRequestExecute executes the request
	//  @return string
	HandleDownloadSkillContentRequestExecute(r ApiHandleDownloadSkillContentRequestRequest) (string, *http.Response, error)

	/*
	HandleEditImageRequest Edit an image based on a prompt. This is the endpoint for making edit requests to image generation models.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleEditImageRequestRequest
	*/
	HandleEditImageRequest(ctx context.Context) ApiHandleEditImageRequestRequest

	// HandleEditImageRequestExecute executes the request
	//  @return GeneratedImageResponse
	HandleEditImageRequestExecute(r ApiHandleEditImageRequestRequest) (*GeneratedImageResponse, *http.Response, error)

	/*
	HandleEditVideoRequest Edit a video based on a prompt. This is an asynchronous operation that returns a request_id for polling.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleEditVideoRequestRequest
	*/
	HandleEditVideoRequest(ctx context.Context) ApiHandleEditVideoRequestRequest

	// HandleEditVideoRequestExecute executes the request
	//  @return StartDeferredResponse
	HandleEditVideoRequestExecute(r ApiHandleEditVideoRequestRequest) (*StartDeferredResponse, *http.Response, error)

	/*
	HandleEmbeddingModelGetRequest Get full information about an embedding model with its model_id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param modelId ID of the model to get.
	@return ApiHandleEmbeddingModelGetRequestRequest
	*/
	HandleEmbeddingModelGetRequest(ctx context.Context, modelId string) ApiHandleEmbeddingModelGetRequestRequest

	// HandleEmbeddingModelGetRequestExecute executes the request
	//  @return EmbeddingModel
	HandleEmbeddingModelGetRequestExecute(r ApiHandleEmbeddingModelGetRequestRequest) (*EmbeddingModel, *http.Response, error)

	/*
	HandleEmbeddingModelsListRequest List all embedding models available to the authenticating API key with full information. Additional information compared to /v1/models includes modalities, fingerprint and alias(es).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleEmbeddingModelsListRequestRequest
	*/
	HandleEmbeddingModelsListRequest(ctx context.Context) ApiHandleEmbeddingModelsListRequestRequest

	// HandleEmbeddingModelsListRequestExecute executes the request
	//  @return ListEmbeddingModelsResponse
	HandleEmbeddingModelsListRequestExecute(r ApiHandleEmbeddingModelsListRequestRequest) (*ListEmbeddingModelsResponse, *http.Response, error)

	/*
	HandleEmbeddingRequest Create an embedding vector representation corresponding to the input text. This is the endpoint for making requests to embedding models.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleEmbeddingRequestRequest
	*/
	HandleEmbeddingRequest(ctx context.Context) ApiHandleEmbeddingRequestRequest

	// HandleEmbeddingRequestExecute executes the request
	//  @return EmbeddingResponse
	HandleEmbeddingRequestExecute(r ApiHandleEmbeddingRequestRequest) (*EmbeddingResponse, *http.Response, error)

	/*
	HandleExtendVideoRequest Extend a video by generating continuation content. This is an asynchronous operation that returns a request_id for polling.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleExtendVideoRequestRequest
	*/
	HandleExtendVideoRequest(ctx context.Context) ApiHandleExtendVideoRequestRequest

	// HandleExtendVideoRequestExecute executes the request
	//  @return StartDeferredResponse
	HandleExtendVideoRequestExecute(r ApiHandleExtendVideoRequestRequest) (*StartDeferredResponse, *http.Response, error)

	/*
	HandleGenerateImageRequest Generate an image based on a prompt. This is the endpoint for making generation requests to image generation models.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleGenerateImageRequestRequest
	*/
	HandleGenerateImageRequest(ctx context.Context) ApiHandleGenerateImageRequestRequest

	// HandleGenerateImageRequestExecute executes the request
	//  @return GeneratedImageResponse
	HandleGenerateImageRequestExecute(r ApiHandleGenerateImageRequestRequest) (*GeneratedImageResponse, *http.Response, error)

	/*
	HandleGenerateVideoRequest Generate a video from a text prompt and optionally an image. This is an asynchronous operation that returns a request_id for polling.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleGenerateVideoRequestRequest
	*/
	HandleGenerateVideoRequest(ctx context.Context) ApiHandleGenerateVideoRequestRequest

	// HandleGenerateVideoRequestExecute executes the request
	//  @return StartDeferredResponse
	HandleGenerateVideoRequestExecute(r ApiHandleGenerateVideoRequestRequest) (*StartDeferredResponse, *http.Response, error)

	/*
	HandleGenericCompleteRequest (Legacy - Not supported by reasoning models) Create a text completion response. This endpoint is compatible with the Anthropic API.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleGenericCompleteRequestRequest
	*/
	HandleGenericCompleteRequest(ctx context.Context) ApiHandleGenericCompleteRequestRequest

	// HandleGenericCompleteRequestExecute executes the request
	//  @return CompleteResponse
	HandleGenericCompleteRequestExecute(r ApiHandleGenericCompleteRequestRequest) (*CompleteResponse, *http.Response, error)

	/*
	HandleGenericCompletionRequest Create a chat response from text/image chat prompts. This is the endpoint for making requests to chat and image understanding models.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleGenericCompletionRequestRequest
	*/
	HandleGenericCompletionRequest(ctx context.Context) ApiHandleGenericCompletionRequestRequest

	// HandleGenericCompletionRequestExecute executes the request
	//  @return ChatResponse
	HandleGenericCompletionRequestExecute(r ApiHandleGenericCompletionRequestRequest) (*ChatResponse, *http.Response, error)

	/*
	HandleGenericMessagesRequest Create a messages response. This endpoint is compatible with the Anthropic API.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleGenericMessagesRequestRequest
	*/
	HandleGenericMessagesRequest(ctx context.Context) ApiHandleGenericMessagesRequestRequest

	// HandleGenericMessagesRequestExecute executes the request
	//  @return MessageResponse
	HandleGenericMessagesRequestExecute(r ApiHandleGenericMessagesRequestRequest) (*MessageResponse, *http.Response, error)

	/*
	HandleGenericModelRequest Generates a response based on text or image prompts. The response ID can be used to retrieve the response later or to continue the conversation without repeating prior context. New responses will be stored for 30 days and then permanently deleted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleGenericModelRequestRequest
	*/
	HandleGenericModelRequest(ctx context.Context) ApiHandleGenericModelRequestRequest

	// HandleGenericModelRequestExecute executes the request
	//  @return ModelResponse
	HandleGenericModelRequestExecute(r ApiHandleGenericModelRequestRequest) (*ModelResponse, *http.Response, error)

	/*
	HandleGetApiKeyInfoRequest Get information about an API key, including name, status, permissions and users who created or modified this key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleGetApiKeyInfoRequestRequest
	*/
	HandleGetApiKeyInfoRequest(ctx context.Context) ApiHandleGetApiKeyInfoRequestRequest

	// HandleGetApiKeyInfoRequestExecute executes the request
	//  @return ApiKey
	HandleGetApiKeyInfoRequestExecute(r ApiHandleGetApiKeyInfoRequestRequest) (*ApiKey, *http.Response, error)

	/*
	HandleGetDeferredCompletionRequest Tries to fetch a result for a previously-started deferred completion. Returns `200 Success` with the response body, if the request has been completed. Returns `202 Accepted` when the request is pending processing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param requestId The deferred request id returned by a previous deferred chat request.
	@return ApiHandleGetDeferredCompletionRequestRequest
	*/
	HandleGetDeferredCompletionRequest(ctx context.Context, requestId string) ApiHandleGetDeferredCompletionRequestRequest

	// HandleGetDeferredCompletionRequestExecute executes the request
	//  @return ChatResponse
	HandleGetDeferredCompletionRequestExecute(r ApiHandleGetDeferredCompletionRequestRequest) (*ChatResponse, *http.Response, error)

	/*
	HandleGetDeferredVideoRequest Get the result of a deferred video generation request.

	Returns the current status of a video generation job. When the job completes
successfully the response contains the generated video URL. When the job fails
the response contains a structured `error` object with a machine-readable
`code` and a human-readable `message`.

Both successful and failed completions return HTTP 200 — use the `status`
field (`"done"` or `"failed"`) to distinguish between the two.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param requestId The deferred request id returned by a previous video generation request.
	@return ApiHandleGetDeferredVideoRequestRequest
	*/
	HandleGetDeferredVideoRequest(ctx context.Context, requestId string) ApiHandleGetDeferredVideoRequestRequest

	// HandleGetDeferredVideoRequestExecute executes the request
	//  @return VideoResponse
	HandleGetDeferredVideoRequestExecute(r ApiHandleGetDeferredVideoRequestRequest) (*VideoResponse, *http.Response, error)

	/*
	HandleGetMeRequest Get information about the currently authenticated caller. Works with both API keys and OAuth tokens. Returns identity, team, and ZDR status.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleGetMeRequestRequest
	*/
	HandleGetMeRequest(ctx context.Context) ApiHandleGetMeRequestRequest

	// HandleGetMeRequestExecute executes the request
	//  @return GetMeResponse
	HandleGetMeRequestExecute(r ApiHandleGetMeRequestRequest) (*GetMeResponse, *http.Response, error)

	/*
	HandleGetStoredCompletionRequest Retrieve a previously generated response.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param responseId The response id returned by a previous create response request.
	@return ApiHandleGetStoredCompletionRequestRequest
	*/
	HandleGetStoredCompletionRequest(ctx context.Context, responseId string) ApiHandleGetStoredCompletionRequestRequest

	// HandleGetStoredCompletionRequestExecute executes the request
	//  @return ModelResponse
	HandleGetStoredCompletionRequestExecute(r ApiHandleGetStoredCompletionRequestRequest) (*ModelResponse, *http.Response, error)

	/*
	HandleImageGenerationModelGetRequest Get full information about an image generation model with its model_id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param modelId ID of the model to get.
	@return ApiHandleImageGenerationModelGetRequestRequest
	*/
	HandleImageGenerationModelGetRequest(ctx context.Context, modelId string) ApiHandleImageGenerationModelGetRequestRequest

	// HandleImageGenerationModelGetRequestExecute executes the request
	//  @return ImageGenerationModel
	HandleImageGenerationModelGetRequestExecute(r ApiHandleImageGenerationModelGetRequestRequest) (*ImageGenerationModel, *http.Response, error)

	/*
	HandleImageGenerationModelsListRequest List all image generation models available to the authenticating API key with full information. Additional information compared to /v1/models includes modalities, fingerprint and alias(es).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleImageGenerationModelsListRequestRequest
	*/
	HandleImageGenerationModelsListRequest(ctx context.Context) ApiHandleImageGenerationModelsListRequestRequest

	// HandleImageGenerationModelsListRequestExecute executes the request
	//  @return ListImageGenerationModelsResponse
	HandleImageGenerationModelsListRequestExecute(r ApiHandleImageGenerationModelsListRequestRequest) (*ListImageGenerationModelsResponse, *http.Response, error)

	/*
	HandleLanguageModelGetRequest Get full information about a chat or image understanding model with its model_id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param modelId ID of the model to get.
	@return ApiHandleLanguageModelGetRequestRequest
	*/
	HandleLanguageModelGetRequest(ctx context.Context, modelId string) ApiHandleLanguageModelGetRequestRequest

	// HandleLanguageModelGetRequestExecute executes the request
	//  @return LanguageModel
	HandleLanguageModelGetRequestExecute(r ApiHandleLanguageModelGetRequestRequest) (*LanguageModel, *http.Response, error)

	/*
	HandleLanguageModelsListRequest List all chat and image understanding models available to the authenticating API key with full information. Additional information compared to /v1/models includes modalities, fingerprint and alias(es).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleLanguageModelsListRequestRequest
	*/
	HandleLanguageModelsListRequest(ctx context.Context) ApiHandleLanguageModelsListRequestRequest

	// HandleLanguageModelsListRequestExecute executes the request
	//  @return ListLanguageModelsResponse
	HandleLanguageModelsListRequestExecute(r ApiHandleLanguageModelsListRequestRequest) (*ListLanguageModelsResponse, *http.Response, error)

	/*
	HandleListFilesRequest List files owned by the authenticated team, paginated. The response always returns a `pagination_token`; pass it back as a query parameter to fetch the next page. The end of the list is reached when the returned `data` array is shorter than `limit`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleListFilesRequestRequest
	*/
	HandleListFilesRequest(ctx context.Context) ApiHandleListFilesRequestRequest

	// HandleListFilesRequestExecute executes the request
	//  @return ListFilesResponse
	HandleListFilesRequestExecute(r ApiHandleListFilesRequestRequest) (*ListFilesResponse, *http.Response, error)

	/*
	HandleListInputItems List input items for a previously generated response.

	Returns a paginated list of the input items that were part of the
conversation context for the given response.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param responseId The response id returned by a previous create response request.
	@return ApiHandleListInputItemsRequest
	*/
	HandleListInputItems(ctx context.Context, responseId string) ApiHandleListInputItemsRequest

	// HandleListInputItemsExecute executes the request
	//  @return ListInputItemsResponse
	HandleListInputItemsExecute(r ApiHandleListInputItemsRequest) (*ListInputItemsResponse, *http.Response, error)

	/*
	HandleListSkillsRequest Method for HandleListSkillsRequest

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleListSkillsRequestRequest
	*/
	HandleListSkillsRequest(ctx context.Context) ApiHandleListSkillsRequestRequest

	// HandleListSkillsRequestExecute executes the request
	//  @return SkillList
	HandleListSkillsRequestExecute(r ApiHandleListSkillsRequestRequest) (*SkillList, *http.Response, error)

	/*
	HandleModelGetRequest Get information about a model with its model_id, including pricing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param modelId ID of the model to get.
	@return ApiHandleModelGetRequestRequest
	*/
	HandleModelGetRequest(ctx context.Context, modelId string) ApiHandleModelGetRequestRequest

	// HandleModelGetRequestExecute executes the request
	//  @return Model
	HandleModelGetRequestExecute(r ApiHandleModelGetRequestRequest) (*Model, *http.Response, error)

	/*
	HandleModelsListRequest List all models available to the authenticating API key, including model names (ID), creation times, and pricing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleModelsListRequestRequest
	*/
	HandleModelsListRequest(ctx context.Context) ApiHandleModelsListRequestRequest

	// HandleModelsListRequestExecute executes the request
	//  @return ListModelsResponse
	HandleModelsListRequestExecute(r ApiHandleModelsListRequestRequest) (*ListModelsResponse, *http.Response, error)

	/*
	HandleRetrieveFileRequest Retrieve metadata for a single file by ID. Errors with 404 if the file doesn't exist, has been deleted, or has passed its `expires_at`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param fileId The file's `id` returned by upload or list.
	@return ApiHandleRetrieveFileRequestRequest
	*/
	HandleRetrieveFileRequest(ctx context.Context, fileId string) ApiHandleRetrieveFileRequestRequest

	// HandleRetrieveFileRequestExecute executes the request
	//  @return File
	HandleRetrieveFileRequestExecute(r ApiHandleRetrieveFileRequestRequest) (*File, *http.Response, error)

	/*
	HandleRetrieveSkillRequest Method for HandleRetrieveSkillRequest

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param skillId The skill ID.
	@return ApiHandleRetrieveSkillRequestRequest
	*/
	HandleRetrieveSkillRequest(ctx context.Context, skillId string) ApiHandleRetrieveSkillRequestRequest

	// HandleRetrieveSkillRequestExecute executes the request
	//  @return Skill
	HandleRetrieveSkillRequestExecute(r ApiHandleRetrieveSkillRequestRequest) (*Skill, *http.Response, error)

	/*
	HandleRevokePublicUrlRequest Revoke the active public URL for a file. The underlying file remains available through the authenticated content endpoint. Revoke is idempotent — calling it on a file without an active public URL returns `revoked: false` without an error.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param fileId The file's `id`.
	@return ApiHandleRevokePublicUrlRequestRequest
	*/
	HandleRevokePublicUrlRequest(ctx context.Context, fileId string) ApiHandleRevokePublicUrlRequestRequest

	// HandleRevokePublicUrlRequestExecute executes the request
	//  @return RevokePublicUrlResponse
	HandleRevokePublicUrlRequestExecute(r ApiHandleRevokePublicUrlRequestRequest) (*RevokePublicUrlResponse, *http.Response, error)

	/*
	HandleSampleRequest (Legacy - Not supported by reasoning models) Create a text completion response for a given prompt. Replaced by /v1/chat/completions.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleSampleRequestRequest
	*/
	HandleSampleRequest(ctx context.Context) ApiHandleSampleRequestRequest

	// HandleSampleRequestExecute executes the request
	//  @return SampleResponse
	HandleSampleRequestExecute(r ApiHandleSampleRequestRequest) (*SampleResponse, *http.Response, error)

	/*
	HandleTokenizeTextRequest Tokenize text with the specified model

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleTokenizeTextRequestRequest
	*/
	HandleTokenizeTextRequest(ctx context.Context) ApiHandleTokenizeTextRequestRequest

	// HandleTokenizeTextRequestExecute executes the request
	//  @return TokenizeResponse
	HandleTokenizeTextRequestExecute(r ApiHandleTokenizeTextRequestRequest) (*TokenizeResponse, *http.Response, error)

	/*
	HandleUploadFileRequest Upload a file to xAI's storage. Returns the file's metadata. Files can be referenced by ID anywhere a `file_id` is accepted (e.g. chat attachments). Maximum file size: 50 MB. Files are kept until you delete them, or until `expires_after` elapses if set at upload time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleUploadFileRequestRequest
	*/
	HandleUploadFileRequest(ctx context.Context) ApiHandleUploadFileRequestRequest

	// HandleUploadFileRequestExecute executes the request
	//  @return File
	HandleUploadFileRequestExecute(r ApiHandleUploadFileRequestRequest) (*File, *http.Response, error)

	/*
	HandleUploadSkillRequest Method for HandleUploadSkillRequest

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleUploadSkillRequestRequest
	*/
	HandleUploadSkillRequest(ctx context.Context) ApiHandleUploadSkillRequestRequest

	// HandleUploadSkillRequestExecute executes the request
	//  @return Skill
	HandleUploadSkillRequestExecute(r ApiHandleUploadSkillRequestRequest) (*Skill, *http.Response, error)

	/*
	HandleVideoGenerationModelGetRequest Get full information about a video generation model with its model_id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param modelId ID of the model to get.
	@return ApiHandleVideoGenerationModelGetRequestRequest
	*/
	HandleVideoGenerationModelGetRequest(ctx context.Context, modelId string) ApiHandleVideoGenerationModelGetRequestRequest

	// HandleVideoGenerationModelGetRequestExecute executes the request
	//  @return VideoGenerationModel
	HandleVideoGenerationModelGetRequestExecute(r ApiHandleVideoGenerationModelGetRequestRequest) (*VideoGenerationModel, *http.Response, error)

	/*
	HandleVideoGenerationModelsListRequest List all video generation models available to the authenticating API key with full information.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHandleVideoGenerationModelsListRequestRequest
	*/
	HandleVideoGenerationModelsListRequest(ctx context.Context) ApiHandleVideoGenerationModelsListRequestRequest

	// HandleVideoGenerationModelsListRequestExecute executes the request
	//  @return ListVideoGenerationModelsResponse
	HandleVideoGenerationModelsListRequestExecute(r ApiHandleVideoGenerationModelsListRequestRequest) (*ListVideoGenerationModelsResponse, *http.Response, error)
}

// V1APIService V1API service
type V1APIService service

type ApiHandleCompactRequestRequest struct {
	ctx context.Context
	ApiService V1API
	compactRequest *CompactRequest
}

func (r ApiHandleCompactRequestRequest) CompactRequest(compactRequest CompactRequest) ApiHandleCompactRequestRequest {
	r.compactRequest = &compactRequest
	return r
}

func (r ApiHandleCompactRequestRequest) Execute() (*CompactResponse, *http.Response, error) {
	return r.ApiService.HandleCompactRequestExecute(r)
}

/*
HandleCompactRequest Compacts a full Responses API input window into a shorter canonical window.

The client sends its current input (the same items that would be passed
to `POST /v1/responses`) and receives a compacted output window.
The output should be used **verbatim** as the `input` of the next
`/v1/responses` call (appending only the new user turn).

This generalizes the compaction approach used by the coding-agent
harness (`generate_session_compact` in xai-grok-shell):

1. Strip tool-result noise from the history.
2. Ask the model to produce a structured `<summary>` of the conversation.
3. Rebuild a compact window:  system message → summary → last user query.
4. Return that window to the client.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleCompactRequestRequest
*/
func (a *V1APIService) HandleCompactRequest(ctx context.Context) ApiHandleCompactRequestRequest {
	return ApiHandleCompactRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CompactResponse
func (a *V1APIService) HandleCompactRequestExecute(r ApiHandleCompactRequestRequest) (*CompactResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CompactResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleCompactRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/responses/compact"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.compactRequest == nil {
		return localVarReturnValue, nil, reportError("compactRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.compactRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleCreatePublicUrlRequestRequest struct {
	ctx context.Context
	ApiService V1API
	fileId string
	createPublicUrlRequest *CreatePublicUrlRequest
}

func (r ApiHandleCreatePublicUrlRequestRequest) CreatePublicUrlRequest(createPublicUrlRequest CreatePublicUrlRequest) ApiHandleCreatePublicUrlRequestRequest {
	r.createPublicUrlRequest = &createPublicUrlRequest
	return r
}

func (r ApiHandleCreatePublicUrlRequestRequest) Execute() (*CreatePublicUrlResponse, *http.Response, error) {
	return r.ApiService.HandleCreatePublicUrlRequestExecute(r)
}

/*
HandleCreatePublicUrlRequest Create a permanent, unauthenticated public URL for an existing file. The underlying file is unaffected and can still be fetched through the authenticated content endpoint. Use this when you want to share a stored asset (image, video, PDF) outside your API-keyed environment. Public URLs can be revoked at any time via `POST /v1/files/{file_id}/public-url/revoke`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fileId The file's `id`.
 @return ApiHandleCreatePublicUrlRequestRequest
*/
func (a *V1APIService) HandleCreatePublicUrlRequest(ctx context.Context, fileId string) ApiHandleCreatePublicUrlRequestRequest {
	return ApiHandleCreatePublicUrlRequestRequest{
		ApiService: a,
		ctx: ctx,
		fileId: fileId,
	}
}

// Execute executes the request
//  @return CreatePublicUrlResponse
func (a *V1APIService) HandleCreatePublicUrlRequestExecute(r ApiHandleCreatePublicUrlRequestRequest) (*CreatePublicUrlResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePublicUrlResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleCreatePublicUrlRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/files/{file_id}/public-url"
	localVarPath = strings.Replace(localVarPath, "{"+"file_id"+"}", url.PathEscape(parameterValueToString(r.fileId, "fileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPublicUrlRequest == nil {
		return localVarReturnValue, nil, reportError("createPublicUrlRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPublicUrlRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleDeleteFileRequestRequest struct {
	ctx context.Context
	ApiService V1API
	fileId string
}

func (r ApiHandleDeleteFileRequestRequest) Execute() (*DeleteFileResponse, *http.Response, error) {
	return r.ApiService.HandleDeleteFileRequestExecute(r)
}

/*
HandleDeleteFileRequest Delete a file by ID. After this returns, the file no longer appears in `GET /v1/files`, content download returns 404, and the ID can no longer be referenced in chat attachments.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fileId The file's `id` to delete.
 @return ApiHandleDeleteFileRequestRequest
*/
func (a *V1APIService) HandleDeleteFileRequest(ctx context.Context, fileId string) ApiHandleDeleteFileRequestRequest {
	return ApiHandleDeleteFileRequestRequest{
		ApiService: a,
		ctx: ctx,
		fileId: fileId,
	}
}

// Execute executes the request
//  @return DeleteFileResponse
func (a *V1APIService) HandleDeleteFileRequestExecute(r ApiHandleDeleteFileRequestRequest) (*DeleteFileResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteFileResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleDeleteFileRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/files/{file_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"file_id"+"}", url.PathEscape(parameterValueToString(r.fileId, "fileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleDeleteSkillRequestRequest struct {
	ctx context.Context
	ApiService V1API
	skillId string
}

func (r ApiHandleDeleteSkillRequestRequest) Execute() (*DeletedSkill, *http.Response, error) {
	return r.ApiService.HandleDeleteSkillRequestExecute(r)
}

/*
HandleDeleteSkillRequest Method for HandleDeleteSkillRequest

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param skillId The skill ID.
 @return ApiHandleDeleteSkillRequestRequest
*/
func (a *V1APIService) HandleDeleteSkillRequest(ctx context.Context, skillId string) ApiHandleDeleteSkillRequestRequest {
	return ApiHandleDeleteSkillRequestRequest{
		ApiService: a,
		ctx: ctx,
		skillId: skillId,
	}
}

// Execute executes the request
//  @return DeletedSkill
func (a *V1APIService) HandleDeleteSkillRequestExecute(r ApiHandleDeleteSkillRequestRequest) (*DeletedSkill, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeletedSkill
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleDeleteSkillRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/skills/{skill_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"skill_id"+"}", url.PathEscape(parameterValueToString(r.skillId, "skillId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleDeleteStoredCompletionRequestRequest struct {
	ctx context.Context
	ApiService V1API
	responseId string
}

func (r ApiHandleDeleteStoredCompletionRequestRequest) Execute() (*DeleteStoredCompletionResponse, *http.Response, error) {
	return r.ApiService.HandleDeleteStoredCompletionRequestExecute(r)
}

/*
HandleDeleteStoredCompletionRequest Delete a previously generated response.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param responseId The response id returned by a previous create response request.
 @return ApiHandleDeleteStoredCompletionRequestRequest
*/
func (a *V1APIService) HandleDeleteStoredCompletionRequest(ctx context.Context, responseId string) ApiHandleDeleteStoredCompletionRequestRequest {
	return ApiHandleDeleteStoredCompletionRequestRequest{
		ApiService: a,
		ctx: ctx,
		responseId: responseId,
	}
}

// Execute executes the request
//  @return DeleteStoredCompletionResponse
func (a *V1APIService) HandleDeleteStoredCompletionRequestExecute(r ApiHandleDeleteStoredCompletionRequestRequest) (*DeleteStoredCompletionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteStoredCompletionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleDeleteStoredCompletionRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/responses/{response_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"response_id"+"}", url.PathEscape(parameterValueToString(r.responseId, "responseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleDocumentSearchRequestV2Request struct {
	ctx context.Context
	ApiService V1API
	searchRequest *SearchRequest
}

func (r ApiHandleDocumentSearchRequestV2Request) SearchRequest(searchRequest SearchRequest) ApiHandleDocumentSearchRequestV2Request {
	r.searchRequest = &searchRequest
	return r
}

func (r ApiHandleDocumentSearchRequestV2Request) Execute() (*SearchResponse, *http.Response, error) {
	return r.ApiService.HandleDocumentSearchRequestV2Execute(r)
}

/*
HandleDocumentSearchRequestV2 Search for content related to the query within the given collections.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleDocumentSearchRequestV2Request
*/
func (a *V1APIService) HandleDocumentSearchRequestV2(ctx context.Context) ApiHandleDocumentSearchRequestV2Request {
	return ApiHandleDocumentSearchRequestV2Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchResponse
func (a *V1APIService) HandleDocumentSearchRequestV2Execute(r ApiHandleDocumentSearchRequestV2Request) (*SearchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleDocumentSearchRequestV2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/documents/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchRequest == nil {
		return localVarReturnValue, nil, reportError("searchRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleDownloadFileContentRequestRequest struct {
	ctx context.Context
	ApiService V1API
	fileId string
	format *ContentFormat
}

// Format of the downloaded content.
func (r ApiHandleDownloadFileContentRequestRequest) Format(format ContentFormat) ApiHandleDownloadFileContentRequestRequest {
	r.format = &format
	return r
}

func (r ApiHandleDownloadFileContentRequestRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.HandleDownloadFileContentRequestExecute(r)
}

/*
HandleDownloadFileContentRequest Download the contents of a file as a stream of raw bytes. The response `Content-Type` is `application/octet-stream`. Use this for the binary payload; use `GET /v1/files/{file_id}` for metadata only.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fileId The file's `id` to download.
 @return ApiHandleDownloadFileContentRequestRequest
*/
func (a *V1APIService) HandleDownloadFileContentRequest(ctx context.Context, fileId string) ApiHandleDownloadFileContentRequestRequest {
	return ApiHandleDownloadFileContentRequestRequest{
		ApiService: a,
		ctx: ctx,
		fileId: fileId,
	}
}

// Execute executes the request
//  @return string
func (a *V1APIService) HandleDownloadFileContentRequestExecute(r ApiHandleDownloadFileContentRequestRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleDownloadFileContentRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/files/{file_id}/content"
	localVarPath = strings.Replace(localVarPath, "{"+"file_id"+"}", url.PathEscape(parameterValueToString(r.fileId, "fileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleDownloadSkillContentRequestRequest struct {
	ctx context.Context
	ApiService V1API
	skillId string
}

func (r ApiHandleDownloadSkillContentRequestRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.HandleDownloadSkillContentRequestExecute(r)
}

/*
HandleDownloadSkillContentRequest Method for HandleDownloadSkillContentRequest

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param skillId The skill ID.
 @return ApiHandleDownloadSkillContentRequestRequest
*/
func (a *V1APIService) HandleDownloadSkillContentRequest(ctx context.Context, skillId string) ApiHandleDownloadSkillContentRequestRequest {
	return ApiHandleDownloadSkillContentRequestRequest{
		ApiService: a,
		ctx: ctx,
		skillId: skillId,
	}
}

// Execute executes the request
//  @return string
func (a *V1APIService) HandleDownloadSkillContentRequestExecute(r ApiHandleDownloadSkillContentRequestRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleDownloadSkillContentRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/skills/{skill_id}/content"
	localVarPath = strings.Replace(localVarPath, "{"+"skill_id"+"}", url.PathEscape(parameterValueToString(r.skillId, "skillId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/zip"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleEditImageRequestRequest struct {
	ctx context.Context
	ApiService V1API
	editImageRequest *EditImageRequest
}

func (r ApiHandleEditImageRequestRequest) EditImageRequest(editImageRequest EditImageRequest) ApiHandleEditImageRequestRequest {
	r.editImageRequest = &editImageRequest
	return r
}

func (r ApiHandleEditImageRequestRequest) Execute() (*GeneratedImageResponse, *http.Response, error) {
	return r.ApiService.HandleEditImageRequestExecute(r)
}

/*
HandleEditImageRequest Edit an image based on a prompt. This is the endpoint for making edit requests to image generation models.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleEditImageRequestRequest
*/
func (a *V1APIService) HandleEditImageRequest(ctx context.Context) ApiHandleEditImageRequestRequest {
	return ApiHandleEditImageRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GeneratedImageResponse
func (a *V1APIService) HandleEditImageRequestExecute(r ApiHandleEditImageRequestRequest) (*GeneratedImageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GeneratedImageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleEditImageRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/images/edits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.editImageRequest == nil {
		return localVarReturnValue, nil, reportError("editImageRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.editImageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleEditVideoRequestRequest struct {
	ctx context.Context
	ApiService V1API
	editVideoRequest *EditVideoRequest
}

func (r ApiHandleEditVideoRequestRequest) EditVideoRequest(editVideoRequest EditVideoRequest) ApiHandleEditVideoRequestRequest {
	r.editVideoRequest = &editVideoRequest
	return r
}

func (r ApiHandleEditVideoRequestRequest) Execute() (*StartDeferredResponse, *http.Response, error) {
	return r.ApiService.HandleEditVideoRequestExecute(r)
}

/*
HandleEditVideoRequest Edit a video based on a prompt. This is an asynchronous operation that returns a request_id for polling.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleEditVideoRequestRequest
*/
func (a *V1APIService) HandleEditVideoRequest(ctx context.Context) ApiHandleEditVideoRequestRequest {
	return ApiHandleEditVideoRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return StartDeferredResponse
func (a *V1APIService) HandleEditVideoRequestExecute(r ApiHandleEditVideoRequestRequest) (*StartDeferredResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *StartDeferredResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleEditVideoRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/videos/edits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.editVideoRequest == nil {
		return localVarReturnValue, nil, reportError("editVideoRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.editVideoRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleEmbeddingModelGetRequestRequest struct {
	ctx context.Context
	ApiService V1API
	modelId string
}

func (r ApiHandleEmbeddingModelGetRequestRequest) Execute() (*EmbeddingModel, *http.Response, error) {
	return r.ApiService.HandleEmbeddingModelGetRequestExecute(r)
}

/*
HandleEmbeddingModelGetRequest Get full information about an embedding model with its model_id.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param modelId ID of the model to get.
 @return ApiHandleEmbeddingModelGetRequestRequest
*/
func (a *V1APIService) HandleEmbeddingModelGetRequest(ctx context.Context, modelId string) ApiHandleEmbeddingModelGetRequestRequest {
	return ApiHandleEmbeddingModelGetRequestRequest{
		ApiService: a,
		ctx: ctx,
		modelId: modelId,
	}
}

// Execute executes the request
//  @return EmbeddingModel
func (a *V1APIService) HandleEmbeddingModelGetRequestExecute(r ApiHandleEmbeddingModelGetRequestRequest) (*EmbeddingModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmbeddingModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleEmbeddingModelGetRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/embedding-models/{model_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"model_id"+"}", url.PathEscape(parameterValueToString(r.modelId, "modelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleEmbeddingModelsListRequestRequest struct {
	ctx context.Context
	ApiService V1API
}

func (r ApiHandleEmbeddingModelsListRequestRequest) Execute() (*ListEmbeddingModelsResponse, *http.Response, error) {
	return r.ApiService.HandleEmbeddingModelsListRequestExecute(r)
}

/*
HandleEmbeddingModelsListRequest List all embedding models available to the authenticating API key with full information. Additional information compared to /v1/models includes modalities, fingerprint and alias(es).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleEmbeddingModelsListRequestRequest
*/
func (a *V1APIService) HandleEmbeddingModelsListRequest(ctx context.Context) ApiHandleEmbeddingModelsListRequestRequest {
	return ApiHandleEmbeddingModelsListRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListEmbeddingModelsResponse
func (a *V1APIService) HandleEmbeddingModelsListRequestExecute(r ApiHandleEmbeddingModelsListRequestRequest) (*ListEmbeddingModelsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListEmbeddingModelsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleEmbeddingModelsListRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/embedding-models"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleEmbeddingRequestRequest struct {
	ctx context.Context
	ApiService V1API
	embeddingRequest *EmbeddingRequest
}

func (r ApiHandleEmbeddingRequestRequest) EmbeddingRequest(embeddingRequest EmbeddingRequest) ApiHandleEmbeddingRequestRequest {
	r.embeddingRequest = &embeddingRequest
	return r
}

func (r ApiHandleEmbeddingRequestRequest) Execute() (*EmbeddingResponse, *http.Response, error) {
	return r.ApiService.HandleEmbeddingRequestExecute(r)
}

/*
HandleEmbeddingRequest Create an embedding vector representation corresponding to the input text. This is the endpoint for making requests to embedding models.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleEmbeddingRequestRequest
*/
func (a *V1APIService) HandleEmbeddingRequest(ctx context.Context) ApiHandleEmbeddingRequestRequest {
	return ApiHandleEmbeddingRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EmbeddingResponse
func (a *V1APIService) HandleEmbeddingRequestExecute(r ApiHandleEmbeddingRequestRequest) (*EmbeddingResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmbeddingResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleEmbeddingRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/embeddings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.embeddingRequest == nil {
		return localVarReturnValue, nil, reportError("embeddingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.embeddingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleExtendVideoRequestRequest struct {
	ctx context.Context
	ApiService V1API
	extendVideoRequest *ExtendVideoRequest
}

func (r ApiHandleExtendVideoRequestRequest) ExtendVideoRequest(extendVideoRequest ExtendVideoRequest) ApiHandleExtendVideoRequestRequest {
	r.extendVideoRequest = &extendVideoRequest
	return r
}

func (r ApiHandleExtendVideoRequestRequest) Execute() (*StartDeferredResponse, *http.Response, error) {
	return r.ApiService.HandleExtendVideoRequestExecute(r)
}

/*
HandleExtendVideoRequest Extend a video by generating continuation content. This is an asynchronous operation that returns a request_id for polling.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleExtendVideoRequestRequest
*/
func (a *V1APIService) HandleExtendVideoRequest(ctx context.Context) ApiHandleExtendVideoRequestRequest {
	return ApiHandleExtendVideoRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return StartDeferredResponse
func (a *V1APIService) HandleExtendVideoRequestExecute(r ApiHandleExtendVideoRequestRequest) (*StartDeferredResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *StartDeferredResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleExtendVideoRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/videos/extensions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.extendVideoRequest == nil {
		return localVarReturnValue, nil, reportError("extendVideoRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.extendVideoRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleGenerateImageRequestRequest struct {
	ctx context.Context
	ApiService V1API
	generateImageRequest *GenerateImageRequest
}

func (r ApiHandleGenerateImageRequestRequest) GenerateImageRequest(generateImageRequest GenerateImageRequest) ApiHandleGenerateImageRequestRequest {
	r.generateImageRequest = &generateImageRequest
	return r
}

func (r ApiHandleGenerateImageRequestRequest) Execute() (*GeneratedImageResponse, *http.Response, error) {
	return r.ApiService.HandleGenerateImageRequestExecute(r)
}

/*
HandleGenerateImageRequest Generate an image based on a prompt. This is the endpoint for making generation requests to image generation models.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleGenerateImageRequestRequest
*/
func (a *V1APIService) HandleGenerateImageRequest(ctx context.Context) ApiHandleGenerateImageRequestRequest {
	return ApiHandleGenerateImageRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GeneratedImageResponse
func (a *V1APIService) HandleGenerateImageRequestExecute(r ApiHandleGenerateImageRequestRequest) (*GeneratedImageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GeneratedImageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleGenerateImageRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/images/generations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.generateImageRequest == nil {
		return localVarReturnValue, nil, reportError("generateImageRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.generateImageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleGenerateVideoRequestRequest struct {
	ctx context.Context
	ApiService V1API
	generateVideoRequest *GenerateVideoRequest
}

func (r ApiHandleGenerateVideoRequestRequest) GenerateVideoRequest(generateVideoRequest GenerateVideoRequest) ApiHandleGenerateVideoRequestRequest {
	r.generateVideoRequest = &generateVideoRequest
	return r
}

func (r ApiHandleGenerateVideoRequestRequest) Execute() (*StartDeferredResponse, *http.Response, error) {
	return r.ApiService.HandleGenerateVideoRequestExecute(r)
}

/*
HandleGenerateVideoRequest Generate a video from a text prompt and optionally an image. This is an asynchronous operation that returns a request_id for polling.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleGenerateVideoRequestRequest
*/
func (a *V1APIService) HandleGenerateVideoRequest(ctx context.Context) ApiHandleGenerateVideoRequestRequest {
	return ApiHandleGenerateVideoRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return StartDeferredResponse
func (a *V1APIService) HandleGenerateVideoRequestExecute(r ApiHandleGenerateVideoRequestRequest) (*StartDeferredResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *StartDeferredResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleGenerateVideoRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/videos/generations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.generateVideoRequest == nil {
		return localVarReturnValue, nil, reportError("generateVideoRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.generateVideoRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleGenericCompleteRequestRequest struct {
	ctx context.Context
	ApiService V1API
	completeRequest *CompleteRequest
}

func (r ApiHandleGenericCompleteRequestRequest) CompleteRequest(completeRequest CompleteRequest) ApiHandleGenericCompleteRequestRequest {
	r.completeRequest = &completeRequest
	return r
}

func (r ApiHandleGenericCompleteRequestRequest) Execute() (*CompleteResponse, *http.Response, error) {
	return r.ApiService.HandleGenericCompleteRequestExecute(r)
}

/*
HandleGenericCompleteRequest (Legacy - Not supported by reasoning models) Create a text completion response. This endpoint is compatible with the Anthropic API.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleGenericCompleteRequestRequest
*/
func (a *V1APIService) HandleGenericCompleteRequest(ctx context.Context) ApiHandleGenericCompleteRequestRequest {
	return ApiHandleGenericCompleteRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CompleteResponse
func (a *V1APIService) HandleGenericCompleteRequestExecute(r ApiHandleGenericCompleteRequestRequest) (*CompleteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CompleteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleGenericCompleteRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/complete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.completeRequest == nil {
		return localVarReturnValue, nil, reportError("completeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.completeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleGenericCompletionRequestRequest struct {
	ctx context.Context
	ApiService V1API
	chatRequest *ChatRequest
}

func (r ApiHandleGenericCompletionRequestRequest) ChatRequest(chatRequest ChatRequest) ApiHandleGenericCompletionRequestRequest {
	r.chatRequest = &chatRequest
	return r
}

func (r ApiHandleGenericCompletionRequestRequest) Execute() (*ChatResponse, *http.Response, error) {
	return r.ApiService.HandleGenericCompletionRequestExecute(r)
}

/*
HandleGenericCompletionRequest Create a chat response from text/image chat prompts. This is the endpoint for making requests to chat and image understanding models.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleGenericCompletionRequestRequest
*/
func (a *V1APIService) HandleGenericCompletionRequest(ctx context.Context) ApiHandleGenericCompletionRequestRequest {
	return ApiHandleGenericCompletionRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ChatResponse
func (a *V1APIService) HandleGenericCompletionRequestExecute(r ApiHandleGenericCompletionRequestRequest) (*ChatResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChatResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleGenericCompletionRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/completions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.chatRequest == nil {
		return localVarReturnValue, nil, reportError("chatRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.chatRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleGenericMessagesRequestRequest struct {
	ctx context.Context
	ApiService V1API
	messageRequest *MessageRequest
}

func (r ApiHandleGenericMessagesRequestRequest) MessageRequest(messageRequest MessageRequest) ApiHandleGenericMessagesRequestRequest {
	r.messageRequest = &messageRequest
	return r
}

func (r ApiHandleGenericMessagesRequestRequest) Execute() (*MessageResponse, *http.Response, error) {
	return r.ApiService.HandleGenericMessagesRequestExecute(r)
}

/*
HandleGenericMessagesRequest Create a messages response. This endpoint is compatible with the Anthropic API.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleGenericMessagesRequestRequest
*/
func (a *V1APIService) HandleGenericMessagesRequest(ctx context.Context) ApiHandleGenericMessagesRequestRequest {
	return ApiHandleGenericMessagesRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MessageResponse
func (a *V1APIService) HandleGenericMessagesRequestExecute(r ApiHandleGenericMessagesRequestRequest) (*MessageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MessageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V1APIService.HandleGenericMessagesRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.messageRequest == nil {
[...]
