/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistralai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


type WorkflowsEventsAPI interface {

	/*
	GetStreamEventsV1WorkflowsEventsStreamGet Get Stream Events

	Get Stream Events

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest
	*/
	GetStreamEventsV1WorkflowsEventsStreamGet(ctx context.Context) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest

	// GetStreamEventsV1WorkflowsEventsStreamGetExecute executes the request
	//  @return GetStreamEventsV1WorkflowsEventsStreamGet200Response
	GetStreamEventsV1WorkflowsEventsStreamGetExecute(r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) (*GetStreamEventsV1WorkflowsEventsStreamGet200Response, *http.Response, error)

	/*
	GetWorkflowEventsV1WorkflowsEventsListGet Get Workflow Events

	Get Workflow Events

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest
	*/
	GetWorkflowEventsV1WorkflowsEventsListGet(ctx context.Context) ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest

	// GetWorkflowEventsV1WorkflowsEventsListGetExecute executes the request
	//  @return ListWorkflowEventResponse
	GetWorkflowEventsV1WorkflowsEventsListGetExecute(r ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest) (*ListWorkflowEventResponse, *http.Response, error)
}

// WorkflowsEventsAPIService WorkflowsEventsAPI service
type WorkflowsEventsAPIService service

type ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest struct {
	ctx context.Context
	ApiService WorkflowsEventsAPI
	scope *string
	activityName *string
	activityId *string
	workflowName *string
	workflowExecId *string
	rootWorkflowExecId *string
	parentWorkflowExecId *string
	stream *string
	startSeq *int32
	metadataFilters *map[string]interface{}
	workflowEventTypes *[]WorkflowEventType
	lastEventId *string
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) Scope(scope string) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	r.scope = &scope
	return r
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) ActivityName(activityName string) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	r.activityName = &activityName
	return r
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) ActivityId(activityId string) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	r.activityId = &activityId
	return r
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) WorkflowName(workflowName string) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	r.workflowName = &workflowName
	return r
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) WorkflowExecId(workflowExecId string) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	r.workflowExecId = &workflowExecId
	return r
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) RootWorkflowExecId(rootWorkflowExecId string) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	r.rootWorkflowExecId = &rootWorkflowExecId
	return r
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) ParentWorkflowExecId(parentWorkflowExecId string) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	r.parentWorkflowExecId = &parentWorkflowExecId
	return r
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) Stream(stream string) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	r.stream = &stream
	return r
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) StartSeq(startSeq int32) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	r.startSeq = &startSeq
	return r
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) MetadataFilters(metadataFilters map[string]interface{}) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	r.metadataFilters = &metadataFilters
	return r
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) WorkflowEventTypes(workflowEventTypes []WorkflowEventType) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	r.workflowEventTypes = &workflowEventTypes
	return r
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) LastEventId(lastEventId string) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	r.lastEventId = &lastEventId
	return r
}

func (r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) Execute() (*GetStreamEventsV1WorkflowsEventsStreamGet200Response, *http.Response, error) {
	return r.ApiService.GetStreamEventsV1WorkflowsEventsStreamGetExecute(r)
}

/*
GetStreamEventsV1WorkflowsEventsStreamGet Get Stream Events

Get Stream Events

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest
*/
func (a *WorkflowsEventsAPIService) GetStreamEventsV1WorkflowsEventsStreamGet(ctx context.Context) ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest {
	return ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetStreamEventsV1WorkflowsEventsStreamGet200Response
func (a *WorkflowsEventsAPIService) GetStreamEventsV1WorkflowsEventsStreamGetExecute(r ApiGetStreamEventsV1WorkflowsEventsStreamGetRequest) (*GetStreamEventsV1WorkflowsEventsStreamGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetStreamEventsV1WorkflowsEventsStreamGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsEventsAPIService.GetStreamEventsV1WorkflowsEventsStreamGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/events/stream"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	} else {
		var defaultValue string = "*"
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", defaultValue, "form", "")
		r.scope = &defaultValue
	}
	if r.activityName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "activity_name", r.activityName, "form", "")
	} else {
		var defaultValue string = "*"
		parameterAddToHeaderOrQuery(localVarQueryParams, "activity_name", defaultValue, "form", "")
		r.activityName = &defaultValue
	}
	if r.activityId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "activity_id", r.activityId, "form", "")
	} else {
		var defaultValue string = "*"
		parameterAddToHeaderOrQuery(localVarQueryParams, "activity_id", defaultValue, "form", "")
		r.activityId = &defaultValue
	}
	if r.workflowName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_name", r.workflowName, "form", "")
	} else {
		var defaultValue string = "*"
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_name", defaultValue, "form", "")
		r.workflowName = &defaultValue
	}
	if r.workflowExecId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_exec_id", r.workflowExecId, "form", "")
	} else {
		var defaultValue string = "*"
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_exec_id", defaultValue, "form", "")
		r.workflowExecId = &defaultValue
	}
	if r.rootWorkflowExecId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "root_workflow_exec_id", r.rootWorkflowExecId, "form", "")
	} else {
		var defaultValue string = "*"
		parameterAddToHeaderOrQuery(localVarQueryParams, "root_workflow_exec_id", defaultValue, "form", "")
		r.rootWorkflowExecId = &defaultValue
	}
	if r.parentWorkflowExecId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_workflow_exec_id", r.parentWorkflowExecId, "form", "")
	} else {
		var defaultValue string = "*"
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_workflow_exec_id", defaultValue, "form", "")
		r.parentWorkflowExecId = &defaultValue
	}
	if r.stream != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stream", r.stream, "form", "")
	} else {
		var defaultValue string = "*"
		parameterAddToHeaderOrQuery(localVarQueryParams, "stream", defaultValue, "form", "")
		r.stream = &defaultValue
	}
	if r.startSeq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_seq", r.startSeq, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_seq", defaultValue, "form", "")
		r.startSeq = &defaultValue
	}
	if r.metadataFilters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_filters", r.metadataFilters, "form", "")
	}
	if r.workflowEventTypes != nil {
		t := *r.workflowEventTypes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_event_types", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_event_types", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/event-stream", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.lastEventId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "last-event-id", r.lastEventId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest struct {
	ctx context.Context
	ApiService WorkflowsEventsAPI
	rootWorkflowExecId *string
	workflowExecId *string
	workflowRunId *string
	limit *int32
	cursor *string
}

// Execution ID of the root workflow that initiated this execution chain.
func (r ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest) RootWorkflowExecId(rootWorkflowExecId string) ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest {
	r.rootWorkflowExecId = &rootWorkflowExecId
	return r
}

// Execution ID of the workflow that emitted this event.
func (r ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest) WorkflowExecId(workflowExecId string) ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest {
	r.workflowExecId = &workflowExecId
	return r
}

// Run ID of the workflow that emitted this event.
func (r ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest) WorkflowRunId(workflowRunId string) ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest {
	r.workflowRunId = &workflowRunId
	return r
}

// Maximum number of events to return.
func (r ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest) Limit(limit int32) ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest {
	r.limit = &limit
	return r
}

// Cursor for pagination.
func (r ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest) Cursor(cursor string) ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest) Execute() (*ListWorkflowEventResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowEventsV1WorkflowsEventsListGetExecute(r)
}

/*
GetWorkflowEventsV1WorkflowsEventsListGet Get Workflow Events

Get Workflow Events

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest
*/
func (a *WorkflowsEventsAPIService) GetWorkflowEventsV1WorkflowsEventsListGet(ctx context.Context) ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest {
	return ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListWorkflowEventResponse
func (a *WorkflowsEventsAPIService) GetWorkflowEventsV1WorkflowsEventsListGetExecute(r ApiGetWorkflowEventsV1WorkflowsEventsListGetRequest) (*ListWorkflowEventResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListWorkflowEventResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsEventsAPIService.GetWorkflowEventsV1WorkflowsEventsListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/events/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.rootWorkflowExecId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "root_workflow_exec_id", r.rootWorkflowExecId, "form", "")
	}
	if r.workflowExecId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_exec_id", r.workflowExecId, "form", "")
	}
	if r.workflowRunId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_run_id", r.workflowRunId, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
