/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistralai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


type BetaSkillsAPI interface {

	/*
	SkillsCreate CreateSkill

	CreateSkill

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSkillsCreateRequest
	*/
	SkillsCreate(ctx context.Context) ApiSkillsCreateRequest

	// SkillsCreateExecute executes the request
	//  @return Skill
	SkillsCreateExecute(r ApiSkillsCreateRequest) (*Skill, *http.Response, error)

	/*
	SkillsCreateVersion CreateSkillVersion

	CreateSkillVersion

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param skillId
	@return ApiSkillsCreateVersionRequest
	*/
	SkillsCreateVersion(ctx context.Context, skillId string) ApiSkillsCreateVersionRequest

	// SkillsCreateVersionExecute executes the request
	//  @return CreateSkillVersionResponse
	SkillsCreateVersionExecute(r ApiSkillsCreateVersionRequest) (*CreateSkillVersionResponse, *http.Response, error)

	/*
	SkillsDelete DeleteSkill

	DeleteSkill

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param skillId
	@return ApiSkillsDeleteRequest
	*/
	SkillsDelete(ctx context.Context, skillId string) ApiSkillsDeleteRequest

	// SkillsDeleteExecute executes the request
	//  @return map[string]interface{}
	SkillsDeleteExecute(r ApiSkillsDeleteRequest) (map[string]interface{}, *http.Response, error)

	/*
	SkillsGet GetSkill

	GetSkill

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param skillId
	@return ApiSkillsGetRequest
	*/
	SkillsGet(ctx context.Context, skillId string) ApiSkillsGetRequest

	// SkillsGetExecute executes the request
	//  @return Skill
	SkillsGetExecute(r ApiSkillsGetRequest) (*Skill, *http.Response, error)

	/*
	SkillsGetVersion GetSkillVersion

	GetSkillVersion

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param skillId
	@param version
	@return ApiSkillsGetVersionRequest
	*/
	SkillsGetVersion(ctx context.Context, skillId string, version int32) ApiSkillsGetVersionRequest

	// SkillsGetVersionExecute executes the request
	//  @return Skill
	SkillsGetVersionExecute(r ApiSkillsGetVersionRequest) (*Skill, *http.Response, error)

	/*
	SkillsList ListSkills

	ListSkills

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSkillsListRequest
	*/
	SkillsList(ctx context.Context) ApiSkillsListRequest

	// SkillsListExecute executes the request
	//  @return ListSkillsResponse
	SkillsListExecute(r ApiSkillsListRequest) (*ListSkillsResponse, *http.Response, error)

	/*
	SkillsListVersions ListSkillVersions

	ListSkillVersions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param skillId
	@return ApiSkillsListVersionsRequest
	*/
	SkillsListVersions(ctx context.Context, skillId string) ApiSkillsListVersionsRequest

	// SkillsListVersionsExecute executes the request
	//  @return ListSkillVersionsResponse
	SkillsListVersionsExecute(r ApiSkillsListVersionsRequest) (*ListSkillVersionsResponse, *http.Response, error)

	/*
	SkillsUpdate UpdateSkill

	UpdateSkill

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param skillId
	@return ApiSkillsUpdateRequest
	*/
	SkillsUpdate(ctx context.Context, skillId string) ApiSkillsUpdateRequest

	// SkillsUpdateExecute executes the request
	//  @return Skill
	SkillsUpdateExecute(r ApiSkillsUpdateRequest) (*Skill, *http.Response, error)

	/*
	SkillsUpdateVersionMetadata UpdateSkillVersionMetadata

	UpdateSkillVersionMetadata

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param skillId
	@param version
	@return ApiSkillsUpdateVersionMetadataRequest
	*/
	SkillsUpdateVersionMetadata(ctx context.Context, skillId string, version int32) ApiSkillsUpdateVersionMetadataRequest

	// SkillsUpdateVersionMetadataExecute executes the request
	//  @return Skill
	SkillsUpdateVersionMetadataExecute(r ApiSkillsUpdateVersionMetadataRequest) (*Skill, *http.Response, error)
}

// BetaSkillsAPIService BetaSkillsAPI service
type BetaSkillsAPIService service

type ApiSkillsCreateRequest struct {
	ctx context.Context
	ApiService BetaSkillsAPI
	createSkillRequest *CreateSkillRequest
}

func (r ApiSkillsCreateRequest) CreateSkillRequest(createSkillRequest CreateSkillRequest) ApiSkillsCreateRequest {
	r.createSkillRequest = &createSkillRequest
	return r
}

func (r ApiSkillsCreateRequest) Execute() (*Skill, *http.Response, error) {
	return r.ApiService.SkillsCreateExecute(r)
}

/*
SkillsCreate CreateSkill

CreateSkill

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSkillsCreateRequest
*/
func (a *BetaSkillsAPIService) SkillsCreate(ctx context.Context) ApiSkillsCreateRequest {
	return ApiSkillsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Skill
func (a *BetaSkillsAPIService) SkillsCreateExecute(r ApiSkillsCreateRequest) (*Skill, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Skill
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaSkillsAPIService.SkillsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/skills"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createSkillRequest == nil {
		return localVarReturnValue, nil, reportError("createSkillRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createSkillRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSkillsCreateVersionRequest struct {
	ctx context.Context
	ApiService BetaSkillsAPI
	skillId string
	createSkillVersionRequest *CreateSkillVersionRequest
}

func (r ApiSkillsCreateVersionRequest) CreateSkillVersionRequest(createSkillVersionRequest CreateSkillVersionRequest) ApiSkillsCreateVersionRequest {
	r.createSkillVersionRequest = &createSkillVersionRequest
	return r
}

func (r ApiSkillsCreateVersionRequest) Execute() (*CreateSkillVersionResponse, *http.Response, error) {
	return r.ApiService.SkillsCreateVersionExecute(r)
}

/*
SkillsCreateVersion CreateSkillVersion

CreateSkillVersion

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param skillId
 @return ApiSkillsCreateVersionRequest
*/
func (a *BetaSkillsAPIService) SkillsCreateVersion(ctx context.Context, skillId string) ApiSkillsCreateVersionRequest {
	return ApiSkillsCreateVersionRequest{
		ApiService: a,
		ctx: ctx,
		skillId: skillId,
	}
}

// Execute executes the request
//  @return CreateSkillVersionResponse
func (a *BetaSkillsAPIService) SkillsCreateVersionExecute(r ApiSkillsCreateVersionRequest) (*CreateSkillVersionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateSkillVersionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaSkillsAPIService.SkillsCreateVersion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/skills/{skill_id}/versions"
	localVarPath = strings.Replace(localVarPath, "{"+"skill_id"+"}", url.PathEscape(parameterValueToString(r.skillId, "skillId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createSkillVersionRequest == nil {
		return localVarReturnValue, nil, reportError("createSkillVersionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createSkillVersionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSkillsDeleteRequest struct {
	ctx context.Context
	ApiService BetaSkillsAPI
	skillId string
}

func (r ApiSkillsDeleteRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.SkillsDeleteExecute(r)
}

/*
SkillsDelete DeleteSkill

DeleteSkill

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param skillId
 @return ApiSkillsDeleteRequest
*/
func (a *BetaSkillsAPIService) SkillsDelete(ctx context.Context, skillId string) ApiSkillsDeleteRequest {
	return ApiSkillsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		skillId: skillId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *BetaSkillsAPIService) SkillsDeleteExecute(r ApiSkillsDeleteRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaSkillsAPIService.SkillsDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/skills/{skill_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"skill_id"+"}", url.PathEscape(parameterValueToString(r.skillId, "skillId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSkillsGetRequest struct {
	ctx context.Context
	ApiService BetaSkillsAPI
	skillId string
	version *int32
	alias *string
	fields *[]string
}

func (r ApiSkillsGetRequest) Version(version int32) ApiSkillsGetRequest {
	r.version = &version
	return r
}

func (r ApiSkillsGetRequest) Alias(alias string) ApiSkillsGetRequest {
	r.alias = &alias
	return r
}

func (r ApiSkillsGetRequest) Fields(fields []string) ApiSkillsGetRequest {
	r.fields = &fields
	return r
}

func (r ApiSkillsGetRequest) Execute() (*Skill, *http.Response, error) {
	return r.ApiService.SkillsGetExecute(r)
}

/*
SkillsGet GetSkill

GetSkill

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param skillId
 @return ApiSkillsGetRequest
*/
func (a *BetaSkillsAPIService) SkillsGet(ctx context.Context, skillId string) ApiSkillsGetRequest {
	return ApiSkillsGetRequest{
		ApiService: a,
		ctx: ctx,
		skillId: skillId,
	}
}

// Execute executes the request
//  @return Skill
func (a *BetaSkillsAPIService) SkillsGetExecute(r ApiSkillsGetRequest) (*Skill, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Skill
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaSkillsAPIService.SkillsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/skills/{skill_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"skill_id"+"}", url.PathEscape(parameterValueToString(r.skillId, "skillId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.alias != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "alias", r.alias, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSkillsGetVersionRequest struct {
	ctx context.Context
	ApiService BetaSkillsAPI
	skillId string
	version int32
	fields *[]string
}

func (r ApiSkillsGetVersionRequest) Fields(fields []string) ApiSkillsGetVersionRequest {
	r.fields = &fields
	return r
}

func (r ApiSkillsGetVersionRequest) Execute() (*Skill, *http.Response, error) {
	return r.ApiService.SkillsGetVersionExecute(r)
}

/*
SkillsGetVersion GetSkillVersion

GetSkillVersion

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param skillId
 @param version
 @return ApiSkillsGetVersionRequest
*/
func (a *BetaSkillsAPIService) SkillsGetVersion(ctx context.Context, skillId string, version int32) ApiSkillsGetVersionRequest {
	return ApiSkillsGetVersionRequest{
		ApiService: a,
		ctx: ctx,
		skillId: skillId,
		version: version,
	}
}

// Execute executes the request
//  @return Skill
func (a *BetaSkillsAPIService) SkillsGetVersionExecute(r ApiSkillsGetVersionRequest) (*Skill, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Skill
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaSkillsAPIService.SkillsGetVersion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/skills/{skill_id}/versions/{version}"
	localVarPath = strings.Replace(localVarPath, "{"+"skill_id"+"}", url.PathEscape(parameterValueToString(r.skillId, "skillId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSkillsListRequest struct {
	ctx context.Context
	ApiService BetaSkillsAPI
	pageSize *int32
	pageToken *string
	alias *string
	fields *[]string
}

func (r ApiSkillsListRequest) PageSize(pageSize int32) ApiSkillsListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiSkillsListRequest) PageToken(pageToken string) ApiSkillsListRequest {
	r.pageToken = &pageToken
	return r
}

func (r ApiSkillsListRequest) Alias(alias string) ApiSkillsListRequest {
	r.alias = &alias
	return r
}

func (r ApiSkillsListRequest) Fields(fields []string) ApiSkillsListRequest {
	r.fields = &fields
	return r
}

func (r ApiSkillsListRequest) Execute() (*ListSkillsResponse, *http.Response, error) {
	return r.ApiService.SkillsListExecute(r)
}

/*
SkillsList ListSkills

ListSkills

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSkillsListRequest
*/
func (a *BetaSkillsAPIService) SkillsList(ctx context.Context) ApiSkillsListRequest {
	return ApiSkillsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListSkillsResponse
func (a *BetaSkillsAPIService) SkillsListExecute(r ApiSkillsListRequest) (*ListSkillsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListSkillsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaSkillsAPIService.SkillsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/skills"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageToken", r.pageToken, "form", "")
	}
	if r.alias != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "alias", r.alias, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSkillsListVersionsRequest struct {
	ctx context.Context
	ApiService BetaSkillsAPI
	skillId string
}

func (r ApiSkillsListVersionsRequest) Execute() (*ListSkillVersionsResponse, *http.Response, error) {
	return r.ApiService.SkillsListVersionsExecute(r)
}

/*
SkillsListVersions ListSkillVersions

ListSkillVersions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param skillId
 @return ApiSkillsListVersionsRequest
*/
func (a *BetaSkillsAPIService) SkillsListVersions(ctx context.Context, skillId string) ApiSkillsListVersionsRequest {
	return ApiSkillsListVersionsRequest{
		ApiService: a,
		ctx: ctx,
		skillId: skillId,
	}
}

// Execute executes the request
//  @return ListSkillVersionsResponse
func (a *BetaSkillsAPIService) SkillsListVersionsExecute(r ApiSkillsListVersionsRequest) (*ListSkillVersionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListSkillVersionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaSkillsAPIService.SkillsListVersions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/skills/{skill_id}/versions"
	localVarPath = strings.Replace(localVarPath, "{"+"skill_id"+"}", url.PathEscape(parameterValueToString(r.skillId, "skillId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSkillsUpdateRequest struct {
	ctx context.Context
	ApiService BetaSkillsAPI
	skillId string
	updateSkillRequest *UpdateSkillRequest
}

func (r ApiSkillsUpdateRequest) UpdateSkillRequest(updateSkillRequest UpdateSkillRequest) ApiSkillsUpdateRequest {
	r.updateSkillRequest = &updateSkillRequest
	return r
}

func (r ApiSkillsUpdateRequest) Execute() (*Skill, *http.Response, error) {
	return r.ApiService.SkillsUpdateExecute(r)
}

/*
SkillsUpdate UpdateSkill

UpdateSkill

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param skillId
 @return ApiSkillsUpdateRequest
*/
func (a *BetaSkillsAPIService) SkillsUpdate(ctx context.Context, skillId string) ApiSkillsUpdateRequest {
	return ApiSkillsUpdateRequest{
		ApiService: a,
		ctx: ctx,
		skillId: skillId,
	}
}

// Execute executes the request
//  @return Skill
func (a *BetaSkillsAPIService) SkillsUpdateExecute(r ApiSkillsUpdateRequest) (*Skill, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Skill
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaSkillsAPIService.SkillsUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/skills/{skill_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"skill_id"+"}", url.PathEscape(parameterValueToString(r.skillId, "skillId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateSkillRequest == nil {
		return localVarReturnValue, nil, reportError("updateSkillRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateSkillRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSkillsUpdateVersionMetadataRequest struct {
	ctx context.Context
	ApiService BetaSkillsAPI
	skillId string
	version int32
	updateSkillVersionRequest *UpdateSkillVersionRequest
}

func (r ApiSkillsUpdateVersionMetadataRequest) UpdateSkillVersionRequest(updateSkillVersionRequest UpdateSkillVersionRequest) ApiSkillsUpdateVersionMetadataRequest {
	r.updateSkillVersionRequest = &updateSkillVersionRequest
	return r
}

func (r ApiSkillsUpdateVersionMetadataRequest) Execute() (*Skill, *http.Response, error) {
	return r.ApiService.SkillsUpdateVersionMetadataExecute(r)
}

/*
SkillsUpdateVersionMetadata UpdateSkillVersionMetadata

UpdateSkillVersionMetadata

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param skillId
 @param version
 @return ApiSkillsUpdateVersionMetadataRequest
*/
func (a *BetaSkillsAPIService) SkillsUpdateVersionMetadata(ctx context.Context, skillId string, version int32) ApiSkillsUpdateVersionMetadataRequest {
	return ApiSkillsUpdateVersionMetadataRequest{
		ApiService: a,
		ctx: ctx,
		skillId: skillId,
		version: version,
	}
}

// Execute executes the request
//  @return Skill
func (a *BetaSkillsAPIService) SkillsUpdateVersionMetadataExecute(r ApiSkillsUpdateVersionMetadataRequest) (*Skill, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Skill
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaSkillsAPIService.SkillsUpdateVersionMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/skills/{skill_id}/versions/{version}"
	localVarPath = strings.Replace(localVarPath, "{"+"skill_id"+"}", url.PathEscape(parameterValueToString(r.skillId, "skillId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateSkillVersionRequest == nil {
		return localVarReturnValue, nil, reportError("updateSkillVersionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateSkillVersionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
