/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistralai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
	"reflect"
)


type BetaAdminAuditLogsAPI interface {

	/*
	UsersApiAdminAuditLogsGetAuditLogs Get Audit Logs

	List audit log entries for the Organization.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUsersApiAdminAuditLogsGetAuditLogsRequest
	*/
	UsersApiAdminAuditLogsGetAuditLogs(ctx context.Context) ApiUsersApiAdminAuditLogsGetAuditLogsRequest

	// UsersApiAdminAuditLogsGetAuditLogsExecute executes the request
	//  @return []AuditLogOut
	UsersApiAdminAuditLogsGetAuditLogsExecute(r ApiUsersApiAdminAuditLogsGetAuditLogsRequest) ([]AuditLogOut, *http.Response, error)
}

// BetaAdminAuditLogsAPIService BetaAdminAuditLogsAPI service
type BetaAdminAuditLogsAPIService service

type ApiUsersApiAdminAuditLogsGetAuditLogsRequest struct {
	ctx context.Context
	ApiService BetaAdminAuditLogsAPI
	actorType *[]ActorType
	eventType *[]AuditLogEventType
	targetType *[]TargetType
	actorUserUuid *string
	sort *string
	after *time.Time
	before *time.Time
	limit *int32
}

// Actor types to include in the audit log results.
func (r ApiUsersApiAdminAuditLogsGetAuditLogsRequest) ActorType(actorType []ActorType) ApiUsersApiAdminAuditLogsGetAuditLogsRequest {
	r.actorType = &actorType
	return r
}

// Event types to include in the audit log results.
func (r ApiUsersApiAdminAuditLogsGetAuditLogsRequest) EventType(eventType []AuditLogEventType) ApiUsersApiAdminAuditLogsGetAuditLogsRequest {
	r.eventType = &eventType
	return r
}

// Target resource types to include in the audit log results.
func (r ApiUsersApiAdminAuditLogsGetAuditLogsRequest) TargetType(targetType []TargetType) ApiUsersApiAdminAuditLogsGetAuditLogsRequest {
	r.targetType = &targetType
	return r
}

// Filter logs by the UUID of the user who performed the action.
func (r ApiUsersApiAdminAuditLogsGetAuditLogsRequest) ActorUserUuid(actorUserUuid string) ApiUsersApiAdminAuditLogsGetAuditLogsRequest {
	r.actorUserUuid = &actorUserUuid
	return r
}

// Sort order for audit log entries.
func (r ApiUsersApiAdminAuditLogsGetAuditLogsRequest) Sort(sort string) ApiUsersApiAdminAuditLogsGetAuditLogsRequest {
	r.sort = &sort
	return r
}

// Return audit log entries after this time.
func (r ApiUsersApiAdminAuditLogsGetAuditLogsRequest) After(after time.Time) ApiUsersApiAdminAuditLogsGetAuditLogsRequest {
	r.after = &after
	return r
}

// Return audit log entries before this time.
func (r ApiUsersApiAdminAuditLogsGetAuditLogsRequest) Before(before time.Time) ApiUsersApiAdminAuditLogsGetAuditLogsRequest {
	r.before = &before
	return r
}

// Maximum number of results to return.
func (r ApiUsersApiAdminAuditLogsGetAuditLogsRequest) Limit(limit int32) ApiUsersApiAdminAuditLogsGetAuditLogsRequest {
	r.limit = &limit
	return r
}

func (r ApiUsersApiAdminAuditLogsGetAuditLogsRequest) Execute() ([]AuditLogOut, *http.Response, error) {
	return r.ApiService.UsersApiAdminAuditLogsGetAuditLogsExecute(r)
}

/*
UsersApiAdminAuditLogsGetAuditLogs Get Audit Logs

List audit log entries for the Organization.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUsersApiAdminAuditLogsGetAuditLogsRequest
*/
func (a *BetaAdminAuditLogsAPIService) UsersApiAdminAuditLogsGetAuditLogs(ctx context.Context) ApiUsersApiAdminAuditLogsGetAuditLogsRequest {
	return ApiUsersApiAdminAuditLogsGetAuditLogsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AuditLogOut
func (a *BetaAdminAuditLogsAPIService) UsersApiAdminAuditLogsGetAuditLogsExecute(r ApiUsersApiAdminAuditLogsGetAuditLogsRequest) ([]AuditLogOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AuditLogOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaAdminAuditLogsAPIService.UsersApiAdminAuditLogsGetAuditLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/audit-logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.actorType != nil {
		t := *r.actorType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "actor_type", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "actor_type", t, "form", "multi")
		}
	}
	if r.eventType != nil {
		t := *r.eventType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "event_type", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "event_type", t, "form", "multi")
		}
	}
	if r.targetType != nil {
		t := *r.targetType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "target_type", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "target_type", t, "form", "multi")
		}
	}
	if r.actorUserUuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actor_user_uuid", r.actorUserUuid, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "descending"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
