/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistralai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


type WorkflowsMetricsAPI interface {

	/*
	GetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGet Get Workflow Metrics

	Get comprehensive metrics for a specific workflow.

Args:
    workflow_name: The name of the workflow type to get metrics for
    start_time: Optional start time filter (ISO 8601 format)
    end_time: Optional end time filter (ISO 8601 format)

Returns:
    WorkflowMetrics: Dictionary containing metrics:
        - execution_count: Total number of executions
        - success_count: Number of successful executions
        - error_count: Number of failed/terminated executions
        - average_latency_ms: Average execution duration in milliseconds
        - retry_rate: Proportion of workflows with retries
        - latency_over_time: Time-series data of execution durations

Example:
    GET /v1/workflows/MyWorkflow/metrics
    GET /v1/workflows/MyWorkflow/metrics?start_time=2025-01-01T00:00:00Z
    GET /v1/workflows/MyWorkflow/metrics?start_time=2025-01-01T00:00:00Z&end_time=2025-12-31T23:59:59Z

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workflowName
	@return ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest
	*/
	GetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGet(ctx context.Context, workflowName string) ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest

	// GetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetExecute executes the request
	//  @return WorkflowMetrics
	GetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetExecute(r ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest) (*WorkflowMetrics, *http.Response, error)
}

// WorkflowsMetricsAPIService WorkflowsMetricsAPI service
type WorkflowsMetricsAPIService service

type ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest struct {
	ctx context.Context
	ApiService WorkflowsMetricsAPI
	workflowName string
	startTime *time.Time
	endTime *time.Time
}

// Filter workflows started after this time (ISO 8601)
func (r ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest) StartTime(startTime time.Time) ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest {
	r.startTime = &startTime
	return r
}

// Filter workflows started before this time (ISO 8601)
func (r ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest) EndTime(endTime time.Time) ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest) Execute() (*WorkflowMetrics, *http.Response, error) {
	return r.ApiService.GetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetExecute(r)
}

/*
GetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGet Get Workflow Metrics

Get comprehensive metrics for a specific workflow.

Args:
    workflow_name: The name of the workflow type to get metrics for
    start_time: Optional start time filter (ISO 8601 format)
    end_time: Optional end time filter (ISO 8601 format)

Returns:
    WorkflowMetrics: Dictionary containing metrics:
        - execution_count: Total number of executions
        - success_count: Number of successful executions
        - error_count: Number of failed/terminated executions
        - average_latency_ms: Average execution duration in milliseconds
        - retry_rate: Proportion of workflows with retries
        - latency_over_time: Time-series data of execution durations

Example:
    GET /v1/workflows/MyWorkflow/metrics
    GET /v1/workflows/MyWorkflow/metrics?start_time=2025-01-01T00:00:00Z
    GET /v1/workflows/MyWorkflow/metrics?start_time=2025-01-01T00:00:00Z&end_time=2025-12-31T23:59:59Z

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workflowName
 @return ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest
*/
func (a *WorkflowsMetricsAPIService) GetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGet(ctx context.Context, workflowName string) ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest {
	return ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest{
		ApiService: a,
		ctx: ctx,
		workflowName: workflowName,
	}
}

// Execute executes the request
//  @return WorkflowMetrics
func (a *WorkflowsMetricsAPIService) GetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetExecute(r ApiGetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGetRequest) (*WorkflowMetrics, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowMetrics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsMetricsAPIService.GetWorkflowMetricsV1WorkflowsWorkflowNameMetricsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/{workflow_name}/metrics"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow_name"+"}", url.PathEscape(parameterValueToString(r.workflowName, "workflowName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
