/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistralai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


type BetaPromptsAPI interface {

	/*
	PromptsCreate CreatePrompt

	CreatePrompt

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPromptsCreateRequest
	*/
	PromptsCreate(ctx context.Context) ApiPromptsCreateRequest

	// PromptsCreateExecute executes the request
	//  @return Prompt
	PromptsCreateExecute(r ApiPromptsCreateRequest) (*Prompt, *http.Response, error)

	/*
	PromptsCreateVersion CreatePromptVersion

	CreatePromptVersion

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param promptId
	@return ApiPromptsCreateVersionRequest
	*/
	PromptsCreateVersion(ctx context.Context, promptId string) ApiPromptsCreateVersionRequest

	// PromptsCreateVersionExecute executes the request
	//  @return CreatePromptVersionResponse
	PromptsCreateVersionExecute(r ApiPromptsCreateVersionRequest) (*CreatePromptVersionResponse, *http.Response, error)

	/*
	PromptsDelete DeletePrompt

	DeletePrompt

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param promptId
	@return ApiPromptsDeleteRequest
	*/
	PromptsDelete(ctx context.Context, promptId string) ApiPromptsDeleteRequest

	// PromptsDeleteExecute executes the request
	//  @return map[string]interface{}
	PromptsDeleteExecute(r ApiPromptsDeleteRequest) (map[string]interface{}, *http.Response, error)

	/*
	PromptsGet GetPrompt

	GetPrompt

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param promptId
	@return ApiPromptsGetRequest
	*/
	PromptsGet(ctx context.Context, promptId string) ApiPromptsGetRequest

	// PromptsGetExecute executes the request
	//  @return Prompt
	PromptsGetExecute(r ApiPromptsGetRequest) (*Prompt, *http.Response, error)

	/*
	PromptsGetVersion GetPromptVersion

	GetPromptVersion

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param promptId
	@param version
	@return ApiPromptsGetVersionRequest
	*/
	PromptsGetVersion(ctx context.Context, promptId string, version int32) ApiPromptsGetVersionRequest

	// PromptsGetVersionExecute executes the request
	//  @return Prompt
	PromptsGetVersionExecute(r ApiPromptsGetVersionRequest) (*Prompt, *http.Response, error)

	/*
	PromptsList ListPrompts

	ListPrompts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPromptsListRequest
	*/
	PromptsList(ctx context.Context) ApiPromptsListRequest

	// PromptsListExecute executes the request
	//  @return ListPromptsResponse
	PromptsListExecute(r ApiPromptsListRequest) (*ListPromptsResponse, *http.Response, error)

	/*
	PromptsListVersions ListPromptVersions

	ListPromptVersions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param promptId
	@return ApiPromptsListVersionsRequest
	*/
	PromptsListVersions(ctx context.Context, promptId string) ApiPromptsListVersionsRequest

	// PromptsListVersionsExecute executes the request
	//  @return ListPromptVersionsResponse
	PromptsListVersionsExecute(r ApiPromptsListVersionsRequest) (*ListPromptVersionsResponse, *http.Response, error)

	/*
	PromptsUpdate UpdatePrompt

	UpdatePrompt

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param promptId
	@return ApiPromptsUpdateRequest
	*/
	PromptsUpdate(ctx context.Context, promptId string) ApiPromptsUpdateRequest

	// PromptsUpdateExecute executes the request
	//  @return Prompt
	PromptsUpdateExecute(r ApiPromptsUpdateRequest) (*Prompt, *http.Response, error)

	/*
	PromptsUpdateVersionMetadata UpdatePromptVersionMetadata

	UpdatePromptVersionMetadata

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param promptId
	@param version
	@return ApiPromptsUpdateVersionMetadataRequest
	*/
	PromptsUpdateVersionMetadata(ctx context.Context, promptId string, version int32) ApiPromptsUpdateVersionMetadataRequest

	// PromptsUpdateVersionMetadataExecute executes the request
	//  @return Prompt
	PromptsUpdateVersionMetadataExecute(r ApiPromptsUpdateVersionMetadataRequest) (*Prompt, *http.Response, error)
}

// BetaPromptsAPIService BetaPromptsAPI service
type BetaPromptsAPIService service

type ApiPromptsCreateRequest struct {
	ctx context.Context
	ApiService BetaPromptsAPI
	createPromptRequest *CreatePromptRequest
}

func (r ApiPromptsCreateRequest) CreatePromptRequest(createPromptRequest CreatePromptRequest) ApiPromptsCreateRequest {
	r.createPromptRequest = &createPromptRequest
	return r
}

func (r ApiPromptsCreateRequest) Execute() (*Prompt, *http.Response, error) {
	return r.ApiService.PromptsCreateExecute(r)
}

/*
PromptsCreate CreatePrompt

CreatePrompt

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPromptsCreateRequest
*/
func (a *BetaPromptsAPIService) PromptsCreate(ctx context.Context) ApiPromptsCreateRequest {
	return ApiPromptsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Prompt
func (a *BetaPromptsAPIService) PromptsCreateExecute(r ApiPromptsCreateRequest) (*Prompt, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Prompt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaPromptsAPIService.PromptsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prompts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPromptRequest == nil {
		return localVarReturnValue, nil, reportError("createPromptRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPromptRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPromptsCreateVersionRequest struct {
	ctx context.Context
	ApiService BetaPromptsAPI
	promptId string
	createPromptVersionRequest *CreatePromptVersionRequest
}

func (r ApiPromptsCreateVersionRequest) CreatePromptVersionRequest(createPromptVersionRequest CreatePromptVersionRequest) ApiPromptsCreateVersionRequest {
	r.createPromptVersionRequest = &createPromptVersionRequest
	return r
}

func (r ApiPromptsCreateVersionRequest) Execute() (*CreatePromptVersionResponse, *http.Response, error) {
	return r.ApiService.PromptsCreateVersionExecute(r)
}

/*
PromptsCreateVersion CreatePromptVersion

CreatePromptVersion

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param promptId
 @return ApiPromptsCreateVersionRequest
*/
func (a *BetaPromptsAPIService) PromptsCreateVersion(ctx context.Context, promptId string) ApiPromptsCreateVersionRequest {
	return ApiPromptsCreateVersionRequest{
		ApiService: a,
		ctx: ctx,
		promptId: promptId,
	}
}

// Execute executes the request
//  @return CreatePromptVersionResponse
func (a *BetaPromptsAPIService) PromptsCreateVersionExecute(r ApiPromptsCreateVersionRequest) (*CreatePromptVersionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePromptVersionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaPromptsAPIService.PromptsCreateVersion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prompts/{prompt_id}/versions"
	localVarPath = strings.Replace(localVarPath, "{"+"prompt_id"+"}", url.PathEscape(parameterValueToString(r.promptId, "promptId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPromptVersionRequest == nil {
		return localVarReturnValue, nil, reportError("createPromptVersionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPromptVersionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPromptsDeleteRequest struct {
	ctx context.Context
	ApiService BetaPromptsAPI
	promptId string
}

func (r ApiPromptsDeleteRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.PromptsDeleteExecute(r)
}

/*
PromptsDelete DeletePrompt

DeletePrompt

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param promptId
 @return ApiPromptsDeleteRequest
*/
func (a *BetaPromptsAPIService) PromptsDelete(ctx context.Context, promptId string) ApiPromptsDeleteRequest {
	return ApiPromptsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		promptId: promptId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *BetaPromptsAPIService) PromptsDeleteExecute(r ApiPromptsDeleteRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaPromptsAPIService.PromptsDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prompts/{prompt_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"prompt_id"+"}", url.PathEscape(parameterValueToString(r.promptId, "promptId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPromptsGetRequest struct {
	ctx context.Context
	ApiService BetaPromptsAPI
	promptId string
	version *int32
	alias *string
	fields *[]string
}

func (r ApiPromptsGetRequest) Version(version int32) ApiPromptsGetRequest {
	r.version = &version
	return r
}

func (r ApiPromptsGetRequest) Alias(alias string) ApiPromptsGetRequest {
	r.alias = &alias
	return r
}

func (r ApiPromptsGetRequest) Fields(fields []string) ApiPromptsGetRequest {
	r.fields = &fields
	return r
}

func (r ApiPromptsGetRequest) Execute() (*Prompt, *http.Response, error) {
	return r.ApiService.PromptsGetExecute(r)
}

/*
PromptsGet GetPrompt

GetPrompt

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param promptId
 @return ApiPromptsGetRequest
*/
func (a *BetaPromptsAPIService) PromptsGet(ctx context.Context, promptId string) ApiPromptsGetRequest {
	return ApiPromptsGetRequest{
		ApiService: a,
		ctx: ctx,
		promptId: promptId,
	}
}

// Execute executes the request
//  @return Prompt
func (a *BetaPromptsAPIService) PromptsGetExecute(r ApiPromptsGetRequest) (*Prompt, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Prompt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaPromptsAPIService.PromptsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prompts/{prompt_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"prompt_id"+"}", url.PathEscape(parameterValueToString(r.promptId, "promptId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.alias != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "alias", r.alias, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPromptsGetVersionRequest struct {
	ctx context.Context
	ApiService BetaPromptsAPI
	promptId string
	version int32
	fields *[]string
}

func (r ApiPromptsGetVersionRequest) Fields(fields []string) ApiPromptsGetVersionRequest {
	r.fields = &fields
	return r
}

func (r ApiPromptsGetVersionRequest) Execute() (*Prompt, *http.Response, error) {
	return r.ApiService.PromptsGetVersionExecute(r)
}

/*
PromptsGetVersion GetPromptVersion

GetPromptVersion

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param promptId
 @param version
 @return ApiPromptsGetVersionRequest
*/
func (a *BetaPromptsAPIService) PromptsGetVersion(ctx context.Context, promptId string, version int32) ApiPromptsGetVersionRequest {
	return ApiPromptsGetVersionRequest{
		ApiService: a,
		ctx: ctx,
		promptId: promptId,
		version: version,
	}
}

// Execute executes the request
//  @return Prompt
func (a *BetaPromptsAPIService) PromptsGetVersionExecute(r ApiPromptsGetVersionRequest) (*Prompt, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Prompt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaPromptsAPIService.PromptsGetVersion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prompts/{prompt_id}/versions/{version}"
	localVarPath = strings.Replace(localVarPath, "{"+"prompt_id"+"}", url.PathEscape(parameterValueToString(r.promptId, "promptId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPromptsListRequest struct {
	ctx context.Context
	ApiService BetaPromptsAPI
	pageSize *int32
	pageToken *string
	alias *string
	fields *[]*string
}

func (r ApiPromptsListRequest) PageSize(pageSize int32) ApiPromptsListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiPromptsListRequest) PageToken(pageToken string) ApiPromptsListRequest {
	r.pageToken = &pageToken
	return r
}

func (r ApiPromptsListRequest) Alias(alias string) ApiPromptsListRequest {
	r.alias = &alias
	return r
}

func (r ApiPromptsListRequest) Fields(fields []*string) ApiPromptsListRequest {
	r.fields = &fields
	return r
}

func (r ApiPromptsListRequest) Execute() (*ListPromptsResponse, *http.Response, error) {
	return r.ApiService.PromptsListExecute(r)
}

/*
PromptsList ListPrompts

ListPrompts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPromptsListRequest
*/
func (a *BetaPromptsAPIService) PromptsList(ctx context.Context) ApiPromptsListRequest {
	return ApiPromptsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListPromptsResponse
func (a *BetaPromptsAPIService) PromptsListExecute(r ApiPromptsListRequest) (*ListPromptsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListPromptsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaPromptsAPIService.PromptsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prompts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageToken", r.pageToken, "form", "")
	}
	if r.alias != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "alias", r.alias, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPromptsListVersionsRequest struct {
	ctx context.Context
	ApiService BetaPromptsAPI
	promptId string
}

func (r ApiPromptsListVersionsRequest) Execute() (*ListPromptVersionsResponse, *http.Response, error) {
	return r.ApiService.PromptsListVersionsExecute(r)
}

/*
PromptsListVersions ListPromptVersions

ListPromptVersions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param promptId
 @return ApiPromptsListVersionsRequest
*/
func (a *BetaPromptsAPIService) PromptsListVersions(ctx context.Context, promptId string) ApiPromptsListVersionsRequest {
	return ApiPromptsListVersionsRequest{
		ApiService: a,
		ctx: ctx,
		promptId: promptId,
	}
}

// Execute executes the request
//  @return ListPromptVersionsResponse
func (a *BetaPromptsAPIService) PromptsListVersionsExecute(r ApiPromptsListVersionsRequest) (*ListPromptVersionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListPromptVersionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaPromptsAPIService.PromptsListVersions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prompts/{prompt_id}/versions"
	localVarPath = strings.Replace(localVarPath, "{"+"prompt_id"+"}", url.PathEscape(parameterValueToString(r.promptId, "promptId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPromptsUpdateRequest struct {
	ctx context.Context
	ApiService BetaPromptsAPI
	promptId string
	updatePromptRequest *UpdatePromptRequest
}

func (r ApiPromptsUpdateRequest) UpdatePromptRequest(updatePromptRequest UpdatePromptRequest) ApiPromptsUpdateRequest {
	r.updatePromptRequest = &updatePromptRequest
	return r
}

func (r ApiPromptsUpdateRequest) Execute() (*Prompt, *http.Response, error) {
	return r.ApiService.PromptsUpdateExecute(r)
}

/*
PromptsUpdate UpdatePrompt

UpdatePrompt

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param promptId
 @return ApiPromptsUpdateRequest
*/
func (a *BetaPromptsAPIService) PromptsUpdate(ctx context.Context, promptId string) ApiPromptsUpdateRequest {
	return ApiPromptsUpdateRequest{
		ApiService: a,
		ctx: ctx,
		promptId: promptId,
	}
}

// Execute executes the request
//  @return Prompt
func (a *BetaPromptsAPIService) PromptsUpdateExecute(r ApiPromptsUpdateRequest) (*Prompt, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Prompt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaPromptsAPIService.PromptsUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prompts/{prompt_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"prompt_id"+"}", url.PathEscape(parameterValueToString(r.promptId, "promptId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updatePromptRequest == nil {
		return localVarReturnValue, nil, reportError("updatePromptRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updatePromptRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPromptsUpdateVersionMetadataRequest struct {
	ctx context.Context
	ApiService BetaPromptsAPI
	promptId string
	version int32
	updatePromptVersionRequest *UpdatePromptVersionRequest
}

func (r ApiPromptsUpdateVersionMetadataRequest) UpdatePromptVersionRequest(updatePromptVersionRequest UpdatePromptVersionRequest) ApiPromptsUpdateVersionMetadataRequest {
	r.updatePromptVersionRequest = &updatePromptVersionRequest
	return r
}

func (r ApiPromptsUpdateVersionMetadataRequest) Execute() (*Prompt, *http.Response, error) {
	return r.ApiService.PromptsUpdateVersionMetadataExecute(r)
}

/*
PromptsUpdateVersionMetadata UpdatePromptVersionMetadata

UpdatePromptVersionMetadata

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param promptId
 @param version
 @return ApiPromptsUpdateVersionMetadataRequest
*/
func (a *BetaPromptsAPIService) PromptsUpdateVersionMetadata(ctx context.Context, promptId string, version int32) ApiPromptsUpdateVersionMetadataRequest {
	return ApiPromptsUpdateVersionMetadataRequest{
		ApiService: a,
		ctx: ctx,
		promptId: promptId,
		version: version,
	}
}

// Execute executes the request
//  @return Prompt
func (a *BetaPromptsAPIService) PromptsUpdateVersionMetadataExecute(r ApiPromptsUpdateVersionMetadataRequest) (*Prompt, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Prompt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaPromptsAPIService.PromptsUpdateVersionMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prompts/{prompt_id}/versions/{version}"
	localVarPath = strings.Replace(localVarPath, "{"+"prompt_id"+"}", url.PathEscape(parameterValueToString(r.promptId, "promptId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updatePromptVersionRequest == nil {
		return localVarReturnValue, nil, reportError("updatePromptVersionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updatePromptVersionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
