/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistralai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)

type AudioTranscriptionsAPI interface {

	/*
		AudioApiV1TranscriptionsPost Create Transcription

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiAudioApiV1TranscriptionsPostRequest
	*/
	AudioApiV1TranscriptionsPost(ctx context.Context) ApiAudioApiV1TranscriptionsPostRequest

	// AudioApiV1TranscriptionsPostExecute executes the request
	//  @return TranscriptionResponse
	AudioApiV1TranscriptionsPostExecute(r ApiAudioApiV1TranscriptionsPostRequest) (*TranscriptionResponse, *http.Response, error)

	/*
		AudioApiV1TranscriptionsPostStream Create Streaming Transcription (SSE)

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiAudioApiV1TranscriptionsPostStreamRequest
	*/
	AudioApiV1TranscriptionsPostStream(ctx context.Context) ApiAudioApiV1TranscriptionsPostStreamRequest

	// AudioApiV1TranscriptionsPostStreamExecute executes the request
	//  @return TranscriptionStreamEvents
	AudioApiV1TranscriptionsPostStreamExecute(r ApiAudioApiV1TranscriptionsPostStreamRequest) (*TranscriptionStreamEvents, *http.Response, error)
}

// AudioTranscriptionsAPIService AudioTranscriptionsAPI service
type AudioTranscriptionsAPIService service

type ApiAudioApiV1TranscriptionsPostRequest struct {
	ctx                    context.Context
	ApiService             AudioTranscriptionsAPI
	model                  *string
	file                   **os.File
	fileUrl                *string
	fileId                 *string
	language               *string
	temperature            *float32
	stream                 *bool
	diarize                *bool
	contextBias            *[]string
	timestampGranularities *[]TimestampGranularity
}

// ID of the model to be used.
func (r ApiAudioApiV1TranscriptionsPostRequest) Model(model string) ApiAudioApiV1TranscriptionsPostRequest {
	r.model = &model
	return r
}

// The File object (not file name) to be uploaded.  To upload a file and specify a custom file name you should format your request as such:  &#x60;&#x60;&#x60;bash  file&#x3D;@path/to/your/file.jsonl;filename&#x3D;custom_name.jsonl  &#x60;&#x60;&#x60;  Otherwise, you can just keep the original file name:  &#x60;&#x60;&#x60;bash  file&#x3D;@path/to/your/file.jsonl  &#x60;&#x60;&#x60;
func (r ApiAudioApiV1TranscriptionsPostRequest) File(file *os.File) ApiAudioApiV1TranscriptionsPostRequest {
	r.file = &file
	return r
}

func (r ApiAudioApiV1TranscriptionsPostRequest) FileUrl(fileUrl string) ApiAudioApiV1TranscriptionsPostRequest {
	r.fileUrl = &fileUrl
	return r
}

func (r ApiAudioApiV1TranscriptionsPostRequest) FileId(fileId string) ApiAudioApiV1TranscriptionsPostRequest {
	r.fileId = &fileId
	return r
}

func (r ApiAudioApiV1TranscriptionsPostRequest) Language(language string) ApiAudioApiV1TranscriptionsPostRequest {
	r.language = &language
	return r
}

func (r ApiAudioApiV1TranscriptionsPostRequest) Temperature(temperature float32) ApiAudioApiV1TranscriptionsPostRequest {
	r.temperature = &temperature
	return r
}

func (r ApiAudioApiV1TranscriptionsPostRequest) Stream(stream bool) ApiAudioApiV1TranscriptionsPostRequest {
	r.stream = &stream
	return r
}

func (r ApiAudioApiV1TranscriptionsPostRequest) Diarize(diarize bool) ApiAudioApiV1TranscriptionsPostRequest {
	r.diarize = &diarize
	return r
}

func (r ApiAudioApiV1TranscriptionsPostRequest) ContextBias(contextBias []string) ApiAudioApiV1TranscriptionsPostRequest {
	r.contextBias = &contextBias
	return r
}

// Granularities of timestamps to include in the response.
func (r ApiAudioApiV1TranscriptionsPostRequest) TimestampGranularities(timestampGranularities []TimestampGranularity) ApiAudioApiV1TranscriptionsPostRequest {
	r.timestampGranularities = &timestampGranularities
	return r
}

func (r ApiAudioApiV1TranscriptionsPostRequest) Execute() (*TranscriptionResponse, *http.Response, error) {
	return r.ApiService.AudioApiV1TranscriptionsPostExecute(r)
}

/*
AudioApiV1TranscriptionsPost Create Transcription

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAudioApiV1TranscriptionsPostRequest
*/
func (a *AudioTranscriptionsAPIService) AudioApiV1TranscriptionsPost(ctx context.Context) ApiAudioApiV1TranscriptionsPostRequest {
	return ApiAudioApiV1TranscriptionsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TranscriptionResponse
func (a *AudioTranscriptionsAPIService) AudioApiV1TranscriptionsPostExecute(r ApiAudioApiV1TranscriptionsPostRequest) (*TranscriptionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TranscriptionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AudioTranscriptionsAPIService.AudioApiV1TranscriptionsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/audio/transcriptions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.model == nil {
		return localVarReturnValue, nil, reportError("model is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "model", r.model, "", "")
	if r.file != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file", r.file, "", "")
	}
	if r.fileUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file_url", r.fileUrl, "", "")
	}
	if r.fileId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file_id", r.fileId, "", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "language", r.language, "", "")
	}
	if r.temperature != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "temperature", r.temperature, "", "")
	}
	if r.stream != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "stream", r.stream, "", "")
	}
	if r.diarize != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "diarize", r.diarize, "", "")
	}
	if r.contextBias != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "context_bias", r.contextBias, "", "csv")
	}
	if r.timestampGranularities != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "timestamp_granularities", r.timestampGranularities, "", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAudioApiV1TranscriptionsPostStreamRequest struct {
	ctx                    context.Context
	ApiService             AudioTranscriptionsAPI
	model                  *string
	file                   **os.File
	fileUrl                *string
	fileId                 *string
	language               *string
	temperature            *float32
	stream                 *bool
	diarize                *bool
	contextBias            *[]string
	timestampGranularities *[]TimestampGranularity
}

func (r ApiAudioApiV1TranscriptionsPostStreamRequest) Model(model string) ApiAudioApiV1TranscriptionsPostStreamRequest {
	r.model = &model
	return r
}

// The File object (not file name) to be uploaded.  To upload a file and specify a custom file name you should format your request as such:  &#x60;&#x60;&#x60;bash  file&#x3D;@path/to/your/file.jsonl;filename&#x3D;custom_name.jsonl  &#x60;&#x60;&#x60;  Otherwise, you can just keep the original file name:  &#x60;&#x60;&#x60;bash  file&#x3D;@path/to/your/file.jsonl  &#x60;&#x60;&#x60;
func (r ApiAudioApiV1TranscriptionsPostStreamRequest) File(file *os.File) ApiAudioApiV1TranscriptionsPostStreamRequest {
	r.file = &file
	return r
}

func (r ApiAudioApiV1TranscriptionsPostStreamRequest) FileUrl(fileUrl string) ApiAudioApiV1TranscriptionsPostStreamRequest {
	r.fileUrl = &fileUrl
	return r
}

func (r ApiAudioApiV1TranscriptionsPostStreamRequest) FileId(fileId string) ApiAudioApiV1TranscriptionsPostStreamRequest {
	r.fileId = &fileId
	return r
}

func (r ApiAudioApiV1TranscriptionsPostStreamRequest) Language(language string) ApiAudioApiV1TranscriptionsPostStreamRequest {
	r.language = &language
	return r
}

func (r ApiAudioApiV1TranscriptionsPostStreamRequest) Temperature(temperature float32) ApiAudioApiV1TranscriptionsPostStreamRequest {
	r.temperature = &temperature
	return r
}

func (r ApiAudioApiV1TranscriptionsPostStreamRequest) Stream(stream bool) ApiAudioApiV1TranscriptionsPostStreamRequest {
	r.stream = &stream
	return r
}

func (r ApiAudioApiV1TranscriptionsPostStreamRequest) Diarize(diarize bool) ApiAudioApiV1TranscriptionsPostStreamRequest {
	r.diarize = &diarize
	return r
}

func (r ApiAudioApiV1TranscriptionsPostStreamRequest) ContextBias(contextBias []string) ApiAudioApiV1TranscriptionsPostStreamRequest {
	r.contextBias = &contextBias
	return r
}

// Granularities of timestamps to include in the response.
func (r ApiAudioApiV1TranscriptionsPostStreamRequest) TimestampGranularities(timestampGranularities []TimestampGranularity) ApiAudioApiV1TranscriptionsPostStreamRequest {
	r.timestampGranularities = &timestampGranularities
	return r
}

func (r ApiAudioApiV1TranscriptionsPostStreamRequest) Execute() (*TranscriptionStreamEvents, *http.Response, error) {
	return r.ApiService.AudioApiV1TranscriptionsPostStreamExecute(r)
}

/*
AudioApiV1TranscriptionsPostStream Create Streaming Transcription (SSE)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAudioApiV1TranscriptionsPostStreamRequest
*/
func (a *AudioTranscriptionsAPIService) AudioApiV1TranscriptionsPostStream(ctx context.Context) ApiAudioApiV1TranscriptionsPostStreamRequest {
	return ApiAudioApiV1TranscriptionsPostStreamRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TranscriptionStreamEvents
func (a *AudioTranscriptionsAPIService) AudioApiV1TranscriptionsPostStreamExecute(r ApiAudioApiV1TranscriptionsPostStreamRequest) (*TranscriptionStreamEvents, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TranscriptionStreamEvents
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AudioTranscriptionsAPIService.AudioApiV1TranscriptionsPostStream")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/audio/transcriptions#stream"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.model == nil {
		return localVarReturnValue, nil, reportError("model is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "model", r.model, "", "")
	if r.file != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file", r.file, "", "")
	}
	if r.fileUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file_url", r.fileUrl, "", "")
	}
	if r.fileId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file_id", r.fileId, "", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "language", r.language, "", "")
	}
	if r.temperature != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "temperature", r.temperature, "", "")
	}
	if r.stream != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "stream", r.stream, "", "")
	}
	if r.diarize != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "diarize", r.diarize, "", "")
	}
	if r.contextBias != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "context_bias", r.contextBias, "", "csv")
	}
	if r.timestampGranularities != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "timestamp_granularities", r.timestampGranularities, "", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
