/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistralai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


type WorkflowsRunsAPI interface {

	/*
	GetRunHistoryV1WorkflowsRunsRunIdHistoryGet Get Run History

	Get Run History

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param runId
	@return ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest
	*/
	GetRunHistoryV1WorkflowsRunsRunIdHistoryGet(ctx context.Context, runId string) ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest

	// GetRunHistoryV1WorkflowsRunsRunIdHistoryGetExecute executes the request
	//  @return interface{}
	GetRunHistoryV1WorkflowsRunsRunIdHistoryGetExecute(r ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest) (interface{}, *http.Response, error)

	/*
	GetRunV1WorkflowsRunsRunIdGet Get Run

	Get Run

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param runId
	@return ApiGetRunV1WorkflowsRunsRunIdGetRequest
	*/
	GetRunV1WorkflowsRunsRunIdGet(ctx context.Context, runId string) ApiGetRunV1WorkflowsRunsRunIdGetRequest

	// GetRunV1WorkflowsRunsRunIdGetExecute executes the request
	//  @return WorkflowExecutionResponse
	GetRunV1WorkflowsRunsRunIdGetExecute(r ApiGetRunV1WorkflowsRunsRunIdGetRequest) (*WorkflowExecutionResponse, *http.Response, error)

	/*
	ListRunsV1WorkflowsRunsGet List Runs

	List Runs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListRunsV1WorkflowsRunsGetRequest
	*/
	ListRunsV1WorkflowsRunsGet(ctx context.Context) ApiListRunsV1WorkflowsRunsGetRequest

	// ListRunsV1WorkflowsRunsGetExecute executes the request
	//  @return WorkflowExecutionListResponse
	ListRunsV1WorkflowsRunsGetExecute(r ApiListRunsV1WorkflowsRunsGetRequest) (*WorkflowExecutionListResponse, *http.Response, error)
}

// WorkflowsRunsAPIService WorkflowsRunsAPI service
type WorkflowsRunsAPIService service

type ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest struct {
	ctx context.Context
	ApiService WorkflowsRunsAPI
	runId string
	decodePayloads *bool
}

func (r ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest) DecodePayloads(decodePayloads bool) ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest {
	r.decodePayloads = &decodePayloads
	return r
}

func (r ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetRunHistoryV1WorkflowsRunsRunIdHistoryGetExecute(r)
}

/*
GetRunHistoryV1WorkflowsRunsRunIdHistoryGet Get Run History

Get Run History

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param runId
 @return ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest
*/
func (a *WorkflowsRunsAPIService) GetRunHistoryV1WorkflowsRunsRunIdHistoryGet(ctx context.Context, runId string) ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest {
	return ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest{
		ApiService: a,
		ctx: ctx,
		runId: runId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WorkflowsRunsAPIService) GetRunHistoryV1WorkflowsRunsRunIdHistoryGetExecute(r ApiGetRunHistoryV1WorkflowsRunsRunIdHistoryGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsRunsAPIService.GetRunHistoryV1WorkflowsRunsRunIdHistoryGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/runs/{run_id}/history"
	localVarPath = strings.Replace(localVarPath, "{"+"run_id"+"}", url.PathEscape(parameterValueToString(r.runId, "runId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.decodePayloads != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "decode_payloads", r.decodePayloads, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "decode_payloads", defaultValue, "form", "")
		r.decodePayloads = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRunV1WorkflowsRunsRunIdGetRequest struct {
	ctx context.Context
	ApiService WorkflowsRunsAPI
	runId string
}

func (r ApiGetRunV1WorkflowsRunsRunIdGetRequest) Execute() (*WorkflowExecutionResponse, *http.Response, error) {
	return r.ApiService.GetRunV1WorkflowsRunsRunIdGetExecute(r)
}

/*
GetRunV1WorkflowsRunsRunIdGet Get Run

Get Run

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param runId
 @return ApiGetRunV1WorkflowsRunsRunIdGetRequest
*/
func (a *WorkflowsRunsAPIService) GetRunV1WorkflowsRunsRunIdGet(ctx context.Context, runId string) ApiGetRunV1WorkflowsRunsRunIdGetRequest {
	return ApiGetRunV1WorkflowsRunsRunIdGetRequest{
		ApiService: a,
		ctx: ctx,
		runId: runId,
	}
}

// Execute executes the request
//  @return WorkflowExecutionResponse
func (a *WorkflowsRunsAPIService) GetRunV1WorkflowsRunsRunIdGetExecute(r ApiGetRunV1WorkflowsRunsRunIdGetRequest) (*WorkflowExecutionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowExecutionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsRunsAPIService.GetRunV1WorkflowsRunsRunIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/runs/{run_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"run_id"+"}", url.PathEscape(parameterValueToString(r.runId, "runId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListRunsV1WorkflowsRunsGetRequest struct {
	ctx context.Context
	ApiService WorkflowsRunsAPI
	workflowIdentifier *string
	rootExecutionId *string
	search *string
	status *Status
	deploymentName *string
	sortBy *string
	order *string
	startTimeAfter *time.Time
	startTimeBefore *time.Time
	endTimeAfter *time.Time
	endTimeBefore *time.Time
	userId *string
	workflowTags *[]*string
	includeInternal *bool
	pageSize *int32
	nextPageToken *string
	searchKey *[]string
}

// Filter by workflow name or id
func (r ApiListRunsV1WorkflowsRunsGetRequest) WorkflowIdentifier(workflowIdentifier string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.workflowIdentifier = &workflowIdentifier
	return r
}

// Filter by root execution id; returns the whole execution tree (the root and all its descendant sub-workflows).
func (r ApiListRunsV1WorkflowsRunsGetRequest) RootExecutionId(rootExecutionId string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.rootExecutionId = &rootExecutionId
	return r
}

// Search by workflow name, display name, or ID
func (r ApiListRunsV1WorkflowsRunsGetRequest) Search(search string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.search = &search
	return r
}

// Filter by workflow status
func (r ApiListRunsV1WorkflowsRunsGetRequest) Status(status Status) ApiListRunsV1WorkflowsRunsGetRequest {
	r.status = &status
	return r
}

// Filter by deployment name
func (r ApiListRunsV1WorkflowsRunsGetRequest) DeploymentName(deploymentName string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.deploymentName = &deploymentName
	return r
}

// Field to sort by
func (r ApiListRunsV1WorkflowsRunsGetRequest) SortBy(sortBy string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.sortBy = &sortBy
	return r
}

// Sort direction
func (r ApiListRunsV1WorkflowsRunsGetRequest) Order(order string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.order = &order
	return r
}

// Include runs with start_time &gt;&#x3D; value
func (r ApiListRunsV1WorkflowsRunsGetRequest) StartTimeAfter(startTimeAfter time.Time) ApiListRunsV1WorkflowsRunsGetRequest {
	r.startTimeAfter = &startTimeAfter
	return r
}

// Include runs with start_time &lt;&#x3D; value
func (r ApiListRunsV1WorkflowsRunsGetRequest) StartTimeBefore(startTimeBefore time.Time) ApiListRunsV1WorkflowsRunsGetRequest {
	r.startTimeBefore = &startTimeBefore
	return r
}

// Include runs with end_time &gt;&#x3D; value. Running executions (no end_time) are excluded; use the status filter to include them.
func (r ApiListRunsV1WorkflowsRunsGetRequest) EndTimeAfter(endTimeAfter time.Time) ApiListRunsV1WorkflowsRunsGetRequest {
	r.endTimeAfter = &endTimeAfter
	return r
}

// Include runs with end_time &lt;&#x3D; value. Running executions (no end_time) are excluded; use the status filter to include them.
func (r ApiListRunsV1WorkflowsRunsGetRequest) EndTimeBefore(endTimeBefore time.Time) ApiListRunsV1WorkflowsRunsGetRequest {
	r.endTimeBefore = &endTimeBefore
	return r
}

// Filter by user id. Use &#39;current&#39; to filter by the authenticated user
func (r ApiListRunsV1WorkflowsRunsGetRequest) UserId(userId string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.userId = &userId
	return r
}

// Filter to runs of workflows tagged with all listed tags (AND).
func (r ApiListRunsV1WorkflowsRunsGetRequest) WorkflowTags(workflowTags []*string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.workflowTags = &workflowTags
	return r
}

// Include runs of internal/technical workflows (e.g. parallel-execution)
func (r ApiListRunsV1WorkflowsRunsGetRequest) IncludeInternal(includeInternal bool) ApiListRunsV1WorkflowsRunsGetRequest {
	r.includeInternal = &includeInternal
	return r
}

// Number of items per page
func (r ApiListRunsV1WorkflowsRunsGetRequest) PageSize(pageSize int32) ApiListRunsV1WorkflowsRunsGetRequest {
	r.pageSize = &pageSize
	return r
}

// Token for the next page of results
func (r ApiListRunsV1WorkflowsRunsGetRequest) NextPageToken(nextPageToken string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.nextPageToken = &nextPageToken
	return r
}

// Filter executions by search key as repeated &#39;key:value&#39; entries. Each entry matches an exact key and a similar value; multiple entries are AND&#39;d together (max 3).
func (r ApiListRunsV1WorkflowsRunsGetRequest) SearchKey(searchKey []string) ApiListRunsV1WorkflowsRunsGetRequest {
	r.searchKey = &searchKey
	return r
}

func (r ApiListRunsV1WorkflowsRunsGetRequest) Execute() (*WorkflowExecutionListResponse, *http.Response, error) {
	return r.ApiService.ListRunsV1WorkflowsRunsGetExecute(r)
}

/*
ListRunsV1WorkflowsRunsGet List Runs

List Runs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListRunsV1WorkflowsRunsGetRequest
*/
func (a *WorkflowsRunsAPIService) ListRunsV1WorkflowsRunsGet(ctx context.Context) ApiListRunsV1WorkflowsRunsGetRequest {
	return ApiListRunsV1WorkflowsRunsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WorkflowExecutionListResponse
func (a *WorkflowsRunsAPIService) ListRunsV1WorkflowsRunsGetExecute(r ApiListRunsV1WorkflowsRunsGetRequest) (*WorkflowExecutionListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowExecutionListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsRunsAPIService.ListRunsV1WorkflowsRunsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflows/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.workflowIdentifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_identifier", r.workflowIdentifier, "form", "")
	}
	if r.rootExecutionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "root_execution_id", r.rootExecutionId, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.deploymentName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deployment_name", r.deploymentName, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", defaultValue, "form", "")
		r.order = &defaultValue
	}
	if r.startTimeAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time_after", r.startTimeAfter, "form", "")
	}
	if r.startTimeBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time_before", r.startTimeBefore, "form", "")
	}
	if r.endTimeAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time_after", r.endTimeAfter, "form", "")
	}
	if r.endTimeBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time_before", r.endTimeBefore, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.workflowTags != nil {
		t := *r.workflowTags
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_tags", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_tags", t, "form", "multi")
		}
	}
	if r.includeInternal != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_internal", r.includeInternal, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_internal", defaultValue, "form", "")
		r.includeInternal = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.nextPageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "next_page_token", r.nextPageToken, "form", "")
	}
	if r.searchKey != nil {
		t := *r.searchKey
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "search_key", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "search_key", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
