/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistralai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


type BetaObservabilityJudgesAPI interface {

	/*
	CreateJudgeV1ObservabilityJudgesPost Create a new judge

	Create a new judge

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateJudgeV1ObservabilityJudgesPostRequest
	*/
	CreateJudgeV1ObservabilityJudgesPost(ctx context.Context) ApiCreateJudgeV1ObservabilityJudgesPostRequest

	// CreateJudgeV1ObservabilityJudgesPostExecute executes the request
	//  @return Judge
	CreateJudgeV1ObservabilityJudgesPostExecute(r ApiCreateJudgeV1ObservabilityJudgesPostRequest) (*Judge, *http.Response, error)

	/*
	DeleteJudgeV1ObservabilityJudgesJudgeIdDelete Delete a judge

	Delete a judge

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param judgeId
	@return ApiDeleteJudgeV1ObservabilityJudgesJudgeIdDeleteRequest
	*/
	DeleteJudgeV1ObservabilityJudgesJudgeIdDelete(ctx context.Context, judgeId string) ApiDeleteJudgeV1ObservabilityJudgesJudgeIdDeleteRequest

	// DeleteJudgeV1ObservabilityJudgesJudgeIdDeleteExecute executes the request
	DeleteJudgeV1ObservabilityJudgesJudgeIdDeleteExecute(r ApiDeleteJudgeV1ObservabilityJudgesJudgeIdDeleteRequest) (*http.Response, error)

	/*
	GetJudgeByIdV1ObservabilityJudgesJudgeIdGet Get judge by id

	Get judge by id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param judgeId
	@return ApiGetJudgeByIdV1ObservabilityJudgesJudgeIdGetRequest
	*/
	GetJudgeByIdV1ObservabilityJudgesJudgeIdGet(ctx context.Context, judgeId string) ApiGetJudgeByIdV1ObservabilityJudgesJudgeIdGetRequest

	// GetJudgeByIdV1ObservabilityJudgesJudgeIdGetExecute executes the request
	//  @return Judge
	GetJudgeByIdV1ObservabilityJudgesJudgeIdGetExecute(r ApiGetJudgeByIdV1ObservabilityJudgesJudgeIdGetRequest) (*Judge, *http.Response, error)

	/*
	GetJudgesV1ObservabilityJudgesGet Get judges with optional filtering and search

	Get judges with optional filtering and search

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetJudgesV1ObservabilityJudgesGetRequest
	*/
	GetJudgesV1ObservabilityJudgesGet(ctx context.Context) ApiGetJudgesV1ObservabilityJudgesGetRequest

	// GetJudgesV1ObservabilityJudgesGetExecute executes the request
	//  @return ListJudgesResponse
	GetJudgesV1ObservabilityJudgesGetExecute(r ApiGetJudgesV1ObservabilityJudgesGetRequest) (*ListJudgesResponse, *http.Response, error)

	/*
	JudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPost Run a saved judge on a conversation

	Run a saved judge on a conversation

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param judgeId
	@return ApiJudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostRequest
	*/
	JudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPost(ctx context.Context, judgeId string) ApiJudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostRequest

	// JudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostExecute executes the request
	//  @return JudgeOutput
	JudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostExecute(r ApiJudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostRequest) (*JudgeOutput, *http.Response, error)

	/*
	UpdateJudgeV1ObservabilityJudgesJudgeIdPut Update a judge

	Update a judge

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param judgeId
	@return ApiUpdateJudgeV1ObservabilityJudgesJudgeIdPutRequest
	*/
	UpdateJudgeV1ObservabilityJudgesJudgeIdPut(ctx context.Context, judgeId string) ApiUpdateJudgeV1ObservabilityJudgesJudgeIdPutRequest

	// UpdateJudgeV1ObservabilityJudgesJudgeIdPutExecute executes the request
	UpdateJudgeV1ObservabilityJudgesJudgeIdPutExecute(r ApiUpdateJudgeV1ObservabilityJudgesJudgeIdPutRequest) (*http.Response, error)
}

// BetaObservabilityJudgesAPIService BetaObservabilityJudgesAPI service
type BetaObservabilityJudgesAPIService service

type ApiCreateJudgeV1ObservabilityJudgesPostRequest struct {
	ctx context.Context
	ApiService BetaObservabilityJudgesAPI
	createJudgeRequest *CreateJudgeRequest
}

func (r ApiCreateJudgeV1ObservabilityJudgesPostRequest) CreateJudgeRequest(createJudgeRequest CreateJudgeRequest) ApiCreateJudgeV1ObservabilityJudgesPostRequest {
	r.createJudgeRequest = &createJudgeRequest
	return r
}

func (r ApiCreateJudgeV1ObservabilityJudgesPostRequest) Execute() (*Judge, *http.Response, error) {
	return r.ApiService.CreateJudgeV1ObservabilityJudgesPostExecute(r)
}

/*
CreateJudgeV1ObservabilityJudgesPost Create a new judge

Create a new judge

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateJudgeV1ObservabilityJudgesPostRequest
*/
func (a *BetaObservabilityJudgesAPIService) CreateJudgeV1ObservabilityJudgesPost(ctx context.Context) ApiCreateJudgeV1ObservabilityJudgesPostRequest {
	return ApiCreateJudgeV1ObservabilityJudgesPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Judge
func (a *BetaObservabilityJudgesAPIService) CreateJudgeV1ObservabilityJudgesPostExecute(r ApiCreateJudgeV1ObservabilityJudgesPostRequest) (*Judge, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Judge
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaObservabilityJudgesAPIService.CreateJudgeV1ObservabilityJudgesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/observability/judges"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createJudgeRequest == nil {
		return localVarReturnValue, nil, reportError("createJudgeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createJudgeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 408 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteJudgeV1ObservabilityJudgesJudgeIdDeleteRequest struct {
	ctx context.Context
	ApiService BetaObservabilityJudgesAPI
	judgeId string
}

func (r ApiDeleteJudgeV1ObservabilityJudgesJudgeIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteJudgeV1ObservabilityJudgesJudgeIdDeleteExecute(r)
}

/*
DeleteJudgeV1ObservabilityJudgesJudgeIdDelete Delete a judge

Delete a judge

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param judgeId
 @return ApiDeleteJudgeV1ObservabilityJudgesJudgeIdDeleteRequest
*/
func (a *BetaObservabilityJudgesAPIService) DeleteJudgeV1ObservabilityJudgesJudgeIdDelete(ctx context.Context, judgeId string) ApiDeleteJudgeV1ObservabilityJudgesJudgeIdDeleteRequest {
	return ApiDeleteJudgeV1ObservabilityJudgesJudgeIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		judgeId: judgeId,
	}
}

// Execute executes the request
func (a *BetaObservabilityJudgesAPIService) DeleteJudgeV1ObservabilityJudgesJudgeIdDeleteExecute(r ApiDeleteJudgeV1ObservabilityJudgesJudgeIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaObservabilityJudgesAPIService.DeleteJudgeV1ObservabilityJudgesJudgeIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/observability/judges/{judge_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"judge_id"+"}", url.PathEscape(parameterValueToString(r.judgeId, "judgeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 408 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetJudgeByIdV1ObservabilityJudgesJudgeIdGetRequest struct {
	ctx context.Context
	ApiService BetaObservabilityJudgesAPI
	judgeId string
}

func (r ApiGetJudgeByIdV1ObservabilityJudgesJudgeIdGetRequest) Execute() (*Judge, *http.Response, error) {
	return r.ApiService.GetJudgeByIdV1ObservabilityJudgesJudgeIdGetExecute(r)
}

/*
GetJudgeByIdV1ObservabilityJudgesJudgeIdGet Get judge by id

Get judge by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param judgeId
 @return ApiGetJudgeByIdV1ObservabilityJudgesJudgeIdGetRequest
*/
func (a *BetaObservabilityJudgesAPIService) GetJudgeByIdV1ObservabilityJudgesJudgeIdGet(ctx context.Context, judgeId string) ApiGetJudgeByIdV1ObservabilityJudgesJudgeIdGetRequest {
	return ApiGetJudgeByIdV1ObservabilityJudgesJudgeIdGetRequest{
		ApiService: a,
		ctx: ctx,
		judgeId: judgeId,
	}
}

// Execute executes the request
//  @return Judge
func (a *BetaObservabilityJudgesAPIService) GetJudgeByIdV1ObservabilityJudgesJudgeIdGetExecute(r ApiGetJudgeByIdV1ObservabilityJudgesJudgeIdGetRequest) (*Judge, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Judge
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaObservabilityJudgesAPIService.GetJudgeByIdV1ObservabilityJudgesJudgeIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/observability/judges/{judge_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"judge_id"+"}", url.PathEscape(parameterValueToString(r.judgeId, "judgeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 408 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetJudgesV1ObservabilityJudgesGetRequest struct {
	ctx context.Context
	ApiService BetaObservabilityJudgesAPI
	typeFilter *[]JudgeOutputType
	modelFilter *[]string
	pageSize *int32
	page *int32
	q *string
}

// Filter by judge output types
func (r ApiGetJudgesV1ObservabilityJudgesGetRequest) TypeFilter(typeFilter []JudgeOutputType) ApiGetJudgesV1ObservabilityJudgesGetRequest {
	r.typeFilter = &typeFilter
	return r
}

// Filter by model names
func (r ApiGetJudgesV1ObservabilityJudgesGetRequest) ModelFilter(modelFilter []string) ApiGetJudgesV1ObservabilityJudgesGetRequest {
	r.modelFilter = &modelFilter
	return r
}

func (r ApiGetJudgesV1ObservabilityJudgesGetRequest) PageSize(pageSize int32) ApiGetJudgesV1ObservabilityJudgesGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGetJudgesV1ObservabilityJudgesGetRequest) Page(page int32) ApiGetJudgesV1ObservabilityJudgesGetRequest {
	r.page = &page
	return r
}

func (r ApiGetJudgesV1ObservabilityJudgesGetRequest) Q(q string) ApiGetJudgesV1ObservabilityJudgesGetRequest {
	r.q = &q
	return r
}

func (r ApiGetJudgesV1ObservabilityJudgesGetRequest) Execute() (*ListJudgesResponse, *http.Response, error) {
	return r.ApiService.GetJudgesV1ObservabilityJudgesGetExecute(r)
}

/*
GetJudgesV1ObservabilityJudgesGet Get judges with optional filtering and search

Get judges with optional filtering and search

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetJudgesV1ObservabilityJudgesGetRequest
*/
func (a *BetaObservabilityJudgesAPIService) GetJudgesV1ObservabilityJudgesGet(ctx context.Context) ApiGetJudgesV1ObservabilityJudgesGetRequest {
	return ApiGetJudgesV1ObservabilityJudgesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListJudgesResponse
func (a *BetaObservabilityJudgesAPIService) GetJudgesV1ObservabilityJudgesGetExecute(r ApiGetJudgesV1ObservabilityJudgesGetRequest) (*ListJudgesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListJudgesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaObservabilityJudgesAPIService.GetJudgesV1ObservabilityJudgesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/observability/judges"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.typeFilter != nil {
		t := *r.typeFilter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "type_filter", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "type_filter", t, "form", "multi")
		}
	}
	if r.modelFilter != nil {
		t := *r.modelFilter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "model_filter", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "model_filter", t, "form", "multi")
		}
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 408 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostRequest struct {
	ctx context.Context
	ApiService BetaObservabilityJudgesAPI
	judgeId string
	judgeConversationRequest *JudgeConversationRequest
}

func (r ApiJudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostRequest) JudgeConversationRequest(judgeConversationRequest JudgeConversationRequest) ApiJudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostRequest {
	r.judgeConversationRequest = &judgeConversationRequest
	return r
}

func (r ApiJudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostRequest) Execute() (*JudgeOutput, *http.Response, error) {
	return r.ApiService.JudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostExecute(r)
}

/*
JudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPost Run a saved judge on a conversation

Run a saved judge on a conversation

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param judgeId
 @return ApiJudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostRequest
*/
func (a *BetaObservabilityJudgesAPIService) JudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPost(ctx context.Context, judgeId string) ApiJudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostRequest {
	return ApiJudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostRequest{
		ApiService: a,
		ctx: ctx,
		judgeId: judgeId,
	}
}

// Execute executes the request
//  @return JudgeOutput
func (a *BetaObservabilityJudgesAPIService) JudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostExecute(r ApiJudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPostRequest) (*JudgeOutput, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JudgeOutput
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaObservabilityJudgesAPIService.JudgeConversationV1ObservabilityJudgesJudgeIdLiveJudgingPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/observability/judges/{judge_id}/live-judging"
	localVarPath = strings.Replace(localVarPath, "{"+"judge_id"+"}", url.PathEscape(parameterValueToString(r.judgeId, "judgeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.judgeConversationRequest == nil {
		return localVarReturnValue, nil, reportError("judgeConversationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.judgeConversationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 408 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateJudgeV1ObservabilityJudgesJudgeIdPutRequest struct {
	ctx context.Context
	ApiService BetaObservabilityJudgesAPI
	judgeId string
	updateJudgeRequest *UpdateJudgeRequest
}

func (r ApiUpdateJudgeV1ObservabilityJudgesJudgeIdPutRequest) UpdateJudgeRequest(updateJudgeRequest UpdateJudgeRequest) ApiUpdateJudgeV1ObservabilityJudgesJudgeIdPutRequest {
	r.updateJudgeRequest = &updateJudgeRequest
	return r
}

func (r ApiUpdateJudgeV1ObservabilityJudgesJudgeIdPutRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateJudgeV1ObservabilityJudgesJudgeIdPutExecute(r)
}

/*
UpdateJudgeV1ObservabilityJudgesJudgeIdPut Update a judge

Update a judge

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param judgeId
 @return ApiUpdateJudgeV1ObservabilityJudgesJudgeIdPutRequest
*/
func (a *BetaObservabilityJudgesAPIService) UpdateJudgeV1ObservabilityJudgesJudgeIdPut(ctx context.Context, judgeId string) ApiUpdateJudgeV1ObservabilityJudgesJudgeIdPutRequest {
	return ApiUpdateJudgeV1ObservabilityJudgesJudgeIdPutRequest{
		ApiService: a,
		ctx: ctx,
		judgeId: judgeId,
	}
}

// Execute executes the request
func (a *BetaObservabilityJudgesAPIService) UpdateJudgeV1ObservabilityJudgesJudgeIdPutExecute(r ApiUpdateJudgeV1ObservabilityJudgesJudgeIdPutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BetaObservabilityJudgesAPIService.UpdateJudgeV1ObservabilityJudgesJudgeIdPut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/observability/judges/{judge_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"judge_id"+"}", url.PathEscape(parameterValueToString(r.judgeId, "judgeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateJudgeRequest == nil {
		return nil, reportError("updateJudgeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateJudgeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 408 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ObservabilityError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
